<div id="footer" class="footer">
    <div class="container">
        <div class="hidden-xs col-sm-5">
            <p style="text-align:justify"><a href=""><strong>Xem truyện</strong></a> - Truyện Full (<a
                    href="/danh-sach/truyen-full">Truyenfull</a>) -&nbsp;<a href="">Đọc xem truyện</a> online, <a
                    href="">m&ecirc; đọc truyện</a>&nbsp;chữ,&nbsp;xem truyện hay. Website lu&ocirc;n cập nhật những
                bộ&nbsp;<a href="/danh-sach/truyen-moi">xem truyện mới</a>&nbsp;thuộc c&aacute;c thể loại đặc sắc
                như&nbsp;<a href="/the-loai/tien-hiep">truyện Ti&ecirc;n Hiệp</a>,&nbsp;<a
                    href="/the-loai/kiem-hiep">truyện Kiếm Hiệp</a>, hay&nbsp;<a href="/the-loai/ngon-tinh">truyện
                    Ng&ocirc;n T&igrave;nh</a>&nbsp;một c&aacute;ch nhanh nhất. Hỗ trợ mọi thiết bị như di động
                v&agrave; m&aacute;y t&iacute;nh bảng.</p>
        </div>
        <ul class="col-xs-12 col-sm-7 list-unstyled">
            <li class="text-right pull-right"> <a rel="nofollow" href="/dieu-khoan-su-dung" title="ToS">ToS</a> <a
                    rel="nofollow" href="/gioi-thieu-xemtruyen-vn" title="Giới thiệu">Giới thiệu</a> <a
                    href="/lien-he" title="Contact" rel="nofollow">Liên hệ</a> <a class="backtop"
                    title="Trở lên đầu trang" href="#wrap" rel="nofollow" aria-label="Trở về đầu trang"><span
                        class="glyphicon glyphicon-upload"></span></a> </li>
            <li class="hidden-xs tag-list"> <a href="danh-sach/dam-my-hai">đam mỹ h&agrave;i</a> <a
                    href="/the-loai/xuyen-nhanh">truyện xuy&ecirc;n nhanh</a> <a
                    href="/danh-sach/ngon-tinh-sung">ng&ocirc;n t&igrave;nh sủng</a> <a
                    href="/danh-sach/ngon-tinh-hai">ng&ocirc;n t&igrave;nh h&agrave;i</a> <a
                    href="/danh-sach/truyen-teen-hay">truyện teen hay</a> <a
                    href="/danh-sach/ngon-tinh-hay">ng&ocirc;n t&igrave;nh hay</a> <a href="/the-loai/dam-my">truyện
                    đam mỹ</a> <a href="/the-loai/ngon-tinh/hoan">truyện ng&ocirc;n t&igrave;nh</a> <a
                    href="/the-loai/ngon-tinh/hoan">ng&ocirc;n t&igrave;nh ho&agrave;n</a> <a
                    href="/danh-sach/ngon-tinh-nguoc">ng&ocirc;n t&igrave;nh ngược</a> <a
                    href="/danh-sach/kiem-hiep-hay">truyện kiếm hiệp hay</a> <a href="/danh-sach/tien-hiep-hay">truyện
                    ti&ecirc;n hiệp hay</a> <a href="/the-loai/he-thong">truyện hệ thống</a> </li>
        </ul>
    </div>
</div>
