<header>
    <div class="navbar navbar-default navbar-static-top" role="navigation" id="nav">
        <%-include('navbar')%>
        <div class="navbar-breadcrumb">
            <div class="container breadcrumb-container"> Đọc truyện online, đọc BlogEma, truyện full, truyện
                hay. Tổng hợp đầy đủ và cập nhật liên tục. </div>
        </div>
    </div>
</header>