<div class="container">
    <div class="navbar-header"> <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-collapse"> <span class="sr-only">Hiện menu</span><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <h1> <a class="header-logo" href="/" title="Mê đọc truyện chữ">Mê đọc truyện chữ</a> </h1>
    </div>
    <div class="navbar-collapse collapse" itemtype="http://www.schema.org/SiteNavigationElement"
        itemscope>
        <meta itemprop="url" content="" />
        <ul class="control nav navbar-nav">
            <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle"
                    data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Danh sách
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" itemscope
                    itemtype="http://www.schema.org/SiteNavigationElement">
                    <li><a itemprop="url" href="/danh-sach/dam-my-h-van" title="Đam Mỹ H Văn"><span
                                itemprop="name">Đam Mỹ H Văn</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/dam-my-hai" title="Đàm mỹ hài"><span
                                itemprop="name">Đàm mỹ hài</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/dam-my-hay" title="Đam Mỹ Hay"><span
                                itemprop="name">Đam Mỹ Hay</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/dam-my-sac" title="Đam Mỹ Sắc"><span
                                itemprop="name">Đam Mỹ Sắc</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/kiem-hiep-hay" title="Kiếm hiệp hay"><span
                                itemprop="name">Kiếm hiệp hay</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/ngon-tinh-hai" title="Ngôn Tình Hài"><span
                                itemprop="name">Ngôn Tình Hài</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/ngon-tinh-hay" title="Ngôn tình hay"><span
                                itemprop="name">Ngôn tình hay</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/ngon-tinh-nguoc" title="Ngôn Tình Ngược"><span
                                itemprop="name">Ngôn Tình Ngược</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/ngon-tinh-sac" title="Ngôn Tình Sắc"><span
                                itemprop="name">Ngôn Tình Sắc</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/ngon-tinh-sung" title="Ngôn tình Sủng"><span
                                itemprop="name">Ngôn tình Sủng</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/tien-hiep-hay" title="Tiên hiệp hay"><span
                                itemprop="name">Tiên hiệp hay</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/truyen-full" title="Truyện Full"><span
                                itemprop="name">Truyện Full</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/truyen-hot" title="Truyện Hot"><span
                                itemprop="name">Truyện Hot</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/truyen-moi" title="Truyện Mới"><span
                                itemprop="name">Truyện Mới</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/truyen-teen-hay" title="Truyện Teen Hay"><span
                                itemprop="name">Truyện Teen Hay</span></a></li>
                </ul>
            </li>
            <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle"
                    data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Thể loại <span
                        class="caret"></span></a>
                <div class="dropdown-menu multi-column" itemscope
                    itemtype="http://www.schema.org/SiteNavigationElement">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="dropdown-menu">
                                <li><a itemprop="url" href="/the-loai/bach-hop" title="Bách Hợp"><span
                                            itemprop="name">Bách Hợp</span></a></li>
                                <li><a itemprop="url" href="/the-loai/co-dai" title="Cổ Đại"><span
                                            itemprop="name">Cổ Đại</span></a></li>
                                <li><a itemprop="url" href="/the-loai/cung-dau" title="Cung Đấu"><span
                                            itemprop="name">Cung Đấu</span></a></li>
                                <li><a itemprop="url" href="/the-loai/dam-my" title="Đam Mỹ"><span
                                            itemprop="name">Đam Mỹ</span></a></li>
                                <li><a itemprop="url" href="/the-loai/di-gioi" title="Dị Giới"><span
                                            itemprop="name">Dị Giới</span></a></li>
                                <li><a itemprop="url" href="/the-loai/di-nang" title="Dị Năng"><span
                                            itemprop="name">Dị Năng</span></a></li>
                                <li><a itemprop="url" href="/the-loai/dien-van" title="Điền Văn"><span
                                            itemprop="name">Điền Văn</span></a></li>
                                <li><a itemprop="url" href="/the-loai/do-thi" title="Đô Thị"><span
                                            itemprop="name">Đô Thị</span></a></li>
                                <li><a itemprop="url" href="/the-loai/doan-van" title="Đoản Văn"><span
                                            itemprop="name">Đoản Văn</span></a></li>
                                <li><a itemprop="url" href="/the-loai/dong-phuong"
                                        title="Đông Phương"><span itemprop="name">Đông Phương</span></a>
                                </li>
                                <li><a itemprop="url" href="/the-loai/gia-dau" title="Gia Đấu"><span
                                            itemprop="name">Gia Đấu</span></a></li>
                                <li><a itemprop="url" href="/the-loai/hai-huoc" title="Hài Hước"><span
                                            itemprop="name">Hài Hước</span></a></li>
                                <li><a itemprop="url" href="/the-loai/he-thong" title="Hệ Thống"><span
                                            itemprop="name">Hệ Thống</span></a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="dropdown-menu">
                                <li><a itemprop="url" href="/the-loai/huyen-huyen"
                                        title="Huyền Huyễn"><span itemprop="name">Huyền Huyễn</span></a>
                                </li>
                                <li><a itemprop="url" href="/the-loai/khac" title="Khác"><span
                                            itemprop="name">Khác</span></a></li>
                                <li><a itemprop="url" href="/the-loai/khoa-huyen"
                                        title="Khoa Huyễn"><span itemprop="name">Khoa Huyễn</span></a>
                                </li>
                                <li><a itemprop="url" href="/the-loai/kiem-hiep" title="Kiếm Hiệp"><span
                                            itemprop="name">Kiếm Hiệp</span></a></li>
                                <li><a itemprop="url" href="/the-loai/lich-su" title="Lịch Sử"><span
                                            itemprop="name">Lịch Sử</span></a></li>
                                <li><a itemprop="url" href="/the-loai/light-novel"
                                        title="Light Novel"><span itemprop="name">Light Novel</span></a>
                                </li>
                                <li><a itemprop="url" href="/the-loai/linh-di" title="Linh Dị"><span
                                            itemprop="name">Linh Dị</span></a></li>
                                <li><a itemprop="url" href="/the-loai/mat-the" title="Mạt Thế"><span
                                            itemprop="name">Mạt Thế</span></a></li>
                                <li><a itemprop="url" href="/the-loai/ngon-tinh" title="Ngôn Tình"><span
                                            itemprop="name">Ngôn Tình</span></a></li>
                                <li><a itemprop="url" href="/the-loai/nguoc" title="Ngược"><span
                                            itemprop="name">Ngược</span></a></li>
                                <li><a itemprop="url" href="/the-loai/nu-cuong" title="Nữ Cường"><span
                                            itemprop="name">Nữ Cường</span></a></li>
                                <li><a itemprop="url" href="/the-loai/nu-phu" title="Nữ Phụ"><span
                                            itemprop="name">Nữ Phụ</span></a></li>
                                <li><a itemprop="url" href="/the-loai/phuong-tay"
                                        title="Phương Tây"><span itemprop="name">Phương Tây</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="dropdown-menu">
                                <li><a itemprop="url" href="/the-loai/quan-su" title="Quân Sự"><span
                                            itemprop="name">Quân Sự</span></a></li>
                                <li><a itemprop="url" href="/the-loai/quan-truong"
                                        title="Quan Trường"><span itemprop="name">Quan Trường</span></a>
                                </li>
                                <li><a itemprop="url" href="/the-loai/sac" title="Sắc"><span
                                            itemprop="name">Sắc</span></a></li>
                                <li><a itemprop="url" href="/the-loai/sung" title="Sủng"><span
                                            itemprop="name">Sủng</span></a></li>
                                <li><a itemprop="url" href="/the-loai/tham-hiem" title="Thám Hiểm"><span
                                            itemprop="name">Thám Hiểm</span></a></li>
                                <li><a itemprop="url" href="/the-loai/tien-hiep" title="Tiên Hiệp"><span
                                            itemprop="name">Tiên Hiệp</span></a></li>
                                <li><a itemprop="url" href="/the-loai/trinh-tham"
                                        title="Trinh Thám"><span itemprop="name">Trinh Thám</span></a>
                                </li>
                                <li><a itemprop="url" href="/the-loai/trong-sinh"
                                        title="Trọng Sinh"><span itemprop="name">Trọng Sinh</span></a>
                                </li>
                                <li><a itemprop="url" href="/the-loai/truyen-teen"
                                        title="Truyện Teen"><span itemprop="name">Truyện Teen</span></a>
                                </li>
                                <li><a itemprop="url" href="/the-loai/viet-nam" title="Việt Nam"><span
                                            itemprop="name">Việt Nam</span></a></li>
                                <li><a itemprop="url" href="/the-loai/vong-du" title="Võng Du"><span
                                            itemprop="name">Võng Du</span></a></li>
                                <li><a itemprop="url" href="/the-loai/xuyen-khong"
                                        title="Xuyên Không"><span itemprop="name">Xuyên Không</span></a>
                                </li>
                                <li><a itemprop="url" href="/the-loai/xuyen-nhanh"
                                        title="Xuyên Nhanh"><span itemprop="name">Xuyên Nhanh</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle"
                    data-toggle="dropdown" rel="nofollow"><span class="glyphicon glyphicon-cog"></span>
                    Tùy chỉnh <span class="caret"></span></a>
                <div class="dropdown-menu dropdown-menu-right settings">
                    <form class="form-horizontal">
                        <div class="form-group form-group-sm"> <label
                                class="col-sm-2 col-md-5 control-label" for="truyen-background">Màu
                                nền</label>
                            <div class="col-sm-5 col-md-7"> <select class="form-control"
                                    id="truyen-background">
                                    <option value="#F4F4F4">Xám nhạt</option>
                                    <option value="#E9EBEE">Xanh nhạt</option>
                                </select> </div>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
        <form class="navbar-form navbar-right" action="tim-kiem" role="search">
            <div class="input-group search-holder"> <input aria-label="Từ khóa tìm kiếm"
                    role="search key" class="form-control" id="search-input" type="search" name="tukhoa"
                    placeholder="Tìm kiếm..." value="" required />
                <div class="input-group-btn"> <button class="btn btn-default" type="submit"
                        aria-label="Tìm kiếm" role="search"><span
                            class="glyphicon glyphicon-search"></span></button> </div>
            </div>
            <div class="list-group list-search-res hide"></div>
        </form>
    </div>
</div>