.chapter_jump_list {
    margin-left: 5px !important;
    margin-right: 5px;
    text-align: left;
}
.chapter_jump_select {
    margin-left: 5px !important;
    margin-right: 5px;
    text-align: left;
}