<!DOCTYPE html>
<html lang="vi">

<head
        prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book# profile: http://ogp.me/ns/profile#">
    <meta charset="UTF-8" />
    <title>Liên Hệ</title>
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no" />
    <meta name="description"
          content="Xem truyện" />
    <meta name="keywords" content="Xem truyện" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="canonical" href="lien-he" />
    <meta property="fb:app_id" content="5170652662945892">
    <meta property="og:title" content="Xem truyện">
    <meta property="og:url" content="" />
    <meta property="og:description"
          content="Xem truyện" />
    <meta property="og:site_name" content="Đọc xem truyện Online, Mê đọc xem truyện hay">
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/favicon.svg">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon.svg">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon.svg">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon.svg">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script type="application/ld+json">{ "@context": "http://schema.org", "@type": "WebSite", "url": "", "name": "Đọc xem truyện Online, Mê đọc xem truyện hay", "description": "Đọc xem truyện online, mê đọc xem truyện, xem truyện hay, xem truyện full. Truyện chữ Full luôn tổng hợp và cập nhật các chương truyện một cách nhanh nhất, đầy đủ nhất.", "potentialAction": { "@type": "SearchAction", "target": { "@type": "EntryPoint", "urlTemplate": "tim-kiem?tukhoa={tukhoa}" }, "query-input": { "@type": "PropertyValueSpecification", "valueRequired": "http://schema.org/True", "valueName": "tukhoa" } }
        }</script>
    <link rel="stylesheet" type="text/css" href="/frontend/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/frontend/css/main.min.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173912908-1"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9443025361518917" crossorigin="anonymous"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173912908-1');
</script>
</head>

<body id="body_home" class="" itemscope itemtype="https://schema.org/WebSite">
<div id="wrap">
    <script
            type="text/javascript"> function getCookie(d) { d += "="; for (var b = decodeURIComponent(document.cookie).split(";"), c = [], a = 0; a < b.length; a++) 0 == b[a].trim().indexOf(d) && (c = b[a].trim().split("=")); return 0 < c.length ? c[1] : ""; } var js_bgcolor = getCookie("bgcolor-cookie"); "#232323" == js_bgcolor && (document.getElementsByTagName("body")[0].className += " dark-theme"); </script>
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation" id="nav">
            <%-include('./../common/navbar')%>
            <div class="navbar-breadcrumb">
                <div class="container breadcrumb-container">
                    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a href=""
                                                                                                            accesskey="1"><span class="glyphicon glyphicon-home"></span></a> <a href=""
                                                                                                                                                                                title="Đọc truyện online" itemprop="item"><span itemprop="name">Truyện</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a
                                    href="/lien-he" title="Liên Hệ" itemprop="item"><span itemprop="name">Liên Hệ</span></a>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </header>
    <script
            type="text/javascript">function getCookie(d) { d += "="; for (var b = decodeURIComponent(document.cookie).split(";"), c = [], a = 0; a < b.length; a++)0 == b[a].trim().indexOf(d) && (c = b[a].trim().split("=")); return 0 < c.length ? c[1] : "" } var js_bgcolor = getCookie("bgcolor-cookie"), js_font = getCookie("font-cookie"), js_size = getCookie("size-cookie"), js_lineheight = getCookie("lineheight-cookie"), js_hidenav = getCookie("hidenav-cookie"), js_fluid_switch = getCookie("fluid-switch-cookie"), js_onebreak_switch = getCookie("onebreak-switch-cookie"), js_body_insert_class = ""; "" != js_bgcolor && "#F4F4F4" != js_bgcolor && (js_bgcolor = js_bgcolor.replace("#", ""), js_body_insert_class = "232323" == js_bgcolor ? js_body_insert_class + " background-232323 dark-theme" : js_body_insert_class + (" background-" + js_bgcolor)); 1 == js_hidenav && (document.getElementById("body_chapter").className += " hidenav"); "" != js_size && (js_body_insert_class += " size-" + js_size); "" != js_font && (js_font = js_font.replace(/, serif|, sans-serif|'|\s/g, ""), js_body_insert_class += " font-" + js_font); "" != js_lineheight && "180%" != js_lineheight && (js_lineheight = js_lineheight.replace("%", ""), js_body_insert_class += " lineheight-" + js_lineheight); 1 == js_fluid_switch && (js_body_insert_class += " container-fluid-switch"); document.getElementById("body_chapter").className += js_body_insert_class;</script>
    <style type="text/css">
        #list-page .cat-content {
            text-align: left
        }

        .cat-content {
            margin: 10px 0;
            padding: 0 10px;
        }
    </style>
    <div class="container single-page">
        <div class="row">
            <div class="list list-truyen col-xs-12">
                <div class="title-list">
                    <h2>Contact - Liên hệ</h2>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row single-page-inner">
                            <div class="col-md-8">
                                <div class="alert hide single-page-status"></div> <noscript>
                                    <div class="alert alert-danger">Bạn cần bật javascript để sử dụng form liên hệ
                                    </div>
                                </noscript>
                                <div class="well well-sm">
                                    <form method="post" accept-charset="utf-8" id="formContact"
                                          action="lien-he?fbclid=IwAR2wXLvlFYiuCoZWLjpF9uVQnWP3RRcIez0Eozp7kFc02cfVM6KgWG5tG58">
                                        <div style="display:none;"><input type="hidden" name="_method"
                                                                          value="POST"><input type="hidden" name="_csrfToken"
                                                                                              autocomplete="off"
                                                                                              value="f0bbe7aad6fcca74655b1423806e09a0ae3c11e6f24cd2387e0c2b7a3ac687af1e40ccddbe5b0c28d137b4fe1c8d1f26c6dfbf2b8013a1b6086ee9d46fa4054b">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="contact-name">Tên / Name</label>
                                                    <input type="text" class="form-control" name="full_name"
                                                           id="contact-name" placeholder="Tên của bạn"
                                                           required="required" /></div>
                                                <div class="form-group"> <label for="contact-email">Email</label>
                                                    <div class="input-group"> <span class="input-group-addon"><span
                                                                    class="glyphicon glyphicon-envelope"></span></span><input
                                                                type="email" class="form-control" id="contact-email"
                                                                name="email" placeholder="Địa chỉ email của bạn" />
                                                    </div>
                                                </div>
                                                <div class="form-group"> <label for="contact-subject">Chủ đề /
                                                        Subject</label> <select id="contact-subject" name="subject"
                                                                                class="form-control" required="required">
                                                        <option value="" selected="selected">Chọn một / Choose one
                                                        </option>
                                                        <option value="Góp ý">Góp ý / Suggest</option>
                                                        <option value="Báo lỗi">Báo lỗi / Report an error</option>
                                                        <option value="Quảng cáo">Quảng cáo / Advertisement</option>
                                                        <option value="DMCA">DMCA/Copyright</option>
                                                        <option value="Khác">Khác / Other</option>
                                                    </select> </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"> <label for="contact-message">Nội dung /
                                                        Message</label> <textarea name="message"
                                                                                  id="contact-message" class="form-control" rows="9" cols="25"
                                                                                  required="required"
                                                                                  placeholder="Nội dung liên hệ"></textarea> </div>
                                            </div>
                                            <div class="col-md-12"><button type="submit"
                                                                           class="btn btn-primary pull-right">Gửi / Send</button></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <fieldset>
                                    <legend><span class="glyphicon glyphicon-globe"></span> Thông tin liên hệ /
                                        Contact info</legend>
                                    <div>
                                        <p style="text-align:justify"><strong>Xem truyện</strong></p>
                                        <p style="text-align:justify">Xemtruyen.vn - Đọc truyện chữ online, m&ecirc;
                                            đọc truyện chữ, truyện chữ hay, truyện chữ full. Xemtruyen.vn lu&ocirc;n
                                            tổng hợp v&agrave; cập nhật c&aacute;c chương truyện nhanh nhất.</p>
                                        <p style="text-align:justify">Email: camcamthi1@gmail.com</p>
                                        <p>Fanpage Facebook: <a href="https://www.facebook.com/xemtruyen.vn/"
                                                                rel="nofollow"
                                                                target="_blank">https://www.facebook.com/xemtruyen.vn/</a></p>
                                        <p style="text-align:justify">Website: <a href=""></a></p>
                                        <p style="text-align:justify">Địa chỉ: Quận 12, Tp Hồ Ch&iacute; Minh,
                                            700000</p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="cat-content"></div>
</div>
</div>
<div class="container">
    <div style="margin: 15px 0;padding:0 5px"></div>
</div>

<%-include('./../common/footer')%>
<script>const BASE_URL = '';
    const FB_APP_ID = '5170652662945892';
    const GA_ACCOUNT = '65067329-18';</script>
<script type="text/javascript" src="/frontend/js/main.min.js"></script>
<script src="https://benalman.com/code/projects/jquery-throttle-debounce/jquery.ba-throttle-debounce.js"></script>
<script type="text/javascript" src="/frontend/js/xemtruyen.js"></script>

</body>

</html>