<!DOCTYPE html>
<html lang="vi">

<head
        prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book# profile: http://ogp.me/ns/profile#">
    <meta charset="UTF-8" />
    <title>Giới thiệu về trang chuyện chữ</title>
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no" />
    <meta name="description"
          content="Xem truyện" />
    <meta name="keywords" content="Xem truyện" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="canonical" href="lien-he" />
    <meta property="fb:app_id" content="5170652662945892">
    <meta property="og:title" content="Xem truyện">
    <meta property="og:url" content="" />
    <meta property="og:description"
          content="Xem truyện" />
    <meta property="og:site_name" content="Đọc xem truyện Online, Mê đọc xem truyện hay">
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script type="application/ld+json">{ "@context": "http://schema.org", "@type": "WebSite", "url": "", "name": "Đọc xem truyện Online, Mê đọc xem truyện hay", "description": "Đọc xem truyện online, mê đọc xem truyện, xem truyện hay, xem truyện full. Truyện chữ Full luôn tổng hợp và cập nhật các chương truyện một cách nhanh nhất, đầy đủ nhất.", "potentialAction": { "@type": "SearchAction", "target": { "@type": "EntryPoint", "urlTemplate": "tim-kiem?tukhoa={tukhoa}" }, "query-input": { "@type": "PropertyValueSpecification", "valueRequired": "http://schema.org/True", "valueName": "tukhoa" } }
        }</script>
    <link rel="stylesheet" type="text/css" href="/frontend/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/frontend/css/main.min.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173912908-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173912908-1');
</script>
</head>

<body id="body_home" class="" itemscope itemtype="https://schema.org/WebSite">
<div id="wrap">
    <script
            type="text/javascript"> function getCookie(d) { d += "="; for (var b = decodeURIComponent(document.cookie).split(";"), c = [], a = 0; a < b.length; a++) 0 == b[a].trim().indexOf(d) && (c = b[a].trim().split("=")); return 0 < c.length ? c[1] : ""; } var js_bgcolor = getCookie("bgcolor-cookie"); "#232323" == js_bgcolor && (document.getElementsByTagName("body")[0].className += " dark-theme"); </script>
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation" id="nav">
            <%-include('./../common/navbar')%>
            <div class="navbar-breadcrumb">
                <div class="container breadcrumb-container">
                    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a href=""
                                                                                                            accesskey="1"><span class="glyphicon glyphicon-home"></span></a> <a href=""
                                                                                                                                                                                title="Đọc truyện online" itemprop="item"><span itemprop="name">Truyện</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a
                                    href="/gioi-thieu-truyenchu-vn" title="Giới thiệu về trang chủ Truyện chữ" itemprop="item"><span itemprop="name">Giới thiệu về trang chủ Truyện chữ</span></a>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </header>
    <script
            type="text/javascript">function getCookie(d) { d += "="; for (var b = decodeURIComponent(document.cookie).split(";"), c = [], a = 0; a < b.length; a++)0 == b[a].trim().indexOf(d) && (c = b[a].trim().split("=")); return 0 < c.length ? c[1] : "" } var js_bgcolor = getCookie("bgcolor-cookie"), js_font = getCookie("font-cookie"), js_size = getCookie("size-cookie"), js_lineheight = getCookie("lineheight-cookie"), js_hidenav = getCookie("hidenav-cookie"), js_fluid_switch = getCookie("fluid-switch-cookie"), js_onebreak_switch = getCookie("onebreak-switch-cookie"), js_body_insert_class = ""; "" != js_bgcolor && "#F4F4F4" != js_bgcolor && (js_bgcolor = js_bgcolor.replace("#", ""), js_body_insert_class = "232323" == js_bgcolor ? js_body_insert_class + " background-232323 dark-theme" : js_body_insert_class + (" background-" + js_bgcolor)); 1 == js_hidenav && (document.getElementById("body_chapter").className += " hidenav"); "" != js_size && (js_body_insert_class += " size-" + js_size); "" != js_font && (js_font = js_font.replace(/, serif|, sans-serif|'|\s/g, ""), js_body_insert_class += " font-" + js_font); "" != js_lineheight && "180%" != js_lineheight && (js_lineheight = js_lineheight.replace("%", ""), js_body_insert_class += " lineheight-" + js_lineheight); 1 == js_fluid_switch && (js_body_insert_class += " container-fluid-switch"); document.getElementById("body_chapter").className += js_body_insert_class;</script>
    <style type="text/css">
        #list-page .cat-content {
            text-align: left
        }

        .cat-content {
            margin: 10px 0;
            padding: 0 10px;
        }
    </style>
    <div class="container single-page">
        <div class="row">
            <div class="list list-truyen col-xs-12">
                <div class="title-list">
                    <h2>Giới thiệu</h2>
                </div>
                <div class="single-page-inner">
                    <h3 style="text-align: justify;"><strong>N&oacute;i&nbsp;về Truyenchu.vn</strong></h3>
                    <p style="text-align: justify;"><a href=""><strong>Truyenchu.vn</strong></a> l&agrave; website
                        chuy&ecirc;n cung cấp cho c&aacute;c bạn th&iacute;ch Đọc truyện chữ online, m&ecirc; đọc
                        truyện chữ, truyện chữ hay, truyện chữ full. Truyện chữ Full lu&ocirc;n tổng hợp v&agrave;
                        cập nhật c&aacute;c chương truyện một c&aacute;ch nhanh nhất, đầy đủ nhất.</p>
                    <p style="text-align: justify;">Mong muốn mang đến cho c&aacute;c bạn th&iacute;ch đọc truyện
                        những gi&acirc;y ph&uacute;t thư gi&atilde;n th&ocirc;ng qua nội dung những bộ truyện được
                        Truyện Chữ cung cấp.</p>
                    <p style="text-align: justify;"><strong>Danh mục truyện m&agrave; Truyenchu.vn cung
                            cấp:</strong></p>
                    <ul>
                        <li style="text-align: justify;"><a href="the-loai/tien-hiep">Truyện Ti&ecirc;n Hiệp</a>
                        </li>
                        <li style="text-align: justify;"><a href="the-loai/kiem-hiep">Truyện Kiếm Hiệp</a></li>
                        <li style="text-align: justify;"><a href="the-loai/ngon-tinh">Truyện Ng&ocirc;n
                                T&igrave;nh</a></li>
                        <li style="text-align: justify;"><a href="the-loai/do-thi">Truyện Đ&ocirc; Thị</a></li>
                        <li style="text-align: justify;"><a href="the-loai/quan-truong">Truyện Quan Trường</a></li>
                        <li style="text-align: justify;"><a href="the-loai/vong-du">Truyện V&otilde;ng Du</a></li>
                        <li style="text-align: justify;"><a href="the-loai/khoa-huyen">Truyện Khoa Huyễn</a></li>
                        <li style="text-align: justify;"><a href="the-loai/he-thong">Truyện Hệ Thống</a></li>
                        <li style="text-align: justify;"><a href="the-loai/huyen-huyen">Truyện Huyền Huyễn</a></li>
                        <li style="text-align: justify;"><a href="the-loai/di-gioi">Truyện Dị Giới</a></li>
                        <li style="text-align: justify;"><a href="the-loai/di-nang">Truyện Dị Năng</a></li>
                        <li style="text-align: justify;"><a href="the-loai/quan-su">Truyện Qu&acirc;n Sự</a></li>
                        <li style="text-align: justify;"><a href="the-loai/lich-su">Truyện Lịch Sử</a></li>
                        <li style="text-align: justify;"><a href="the-loai/xuyen-khong">Truyện Xuy&ecirc;n
                                Kh&ocirc;ng</a></li>
                        <li style="text-align: justify;"><a href="the-loai/xuyen-nhanh">Truyện Xuy&ecirc;n Nhanh</a>
                        </li>
                        <li style="text-align: justify;"><a href="the-loai/trong-sinh">Truyện Trọng Sinh</a></li>
                        <li style="text-align: justify;"><a href="the-loai/trinh-tham">Truyện Trinh Th&aacute;m</a>
                        </li>
                        <li style="text-align: justify;"><a href="the-loai/tham-hiem">Truyện Th&aacute;m Hiểm</a>
                        </li>
                        <li style="text-align: justify;"><a href="the-loai/linh-di">Truyện Linh Dị</a></li>
                        <li style="text-align: justify;"><a href="the-loai/sac">Truyện Sắc</a></li>
                        <li style="text-align: justify;"><a href="the-loai/nguoc">Truyện Ngược</a></li>
                        <li style="text-align: justify;"><a href="the-loai/sung">Truyện Sủng</a></li>
                        <li style="text-align: justify;"><a href="the-loai/cung-dau">Truyện Cung Đấu</a></li>
                        <li style="text-align: justify;"><a href="the-loai/nu-cuong">Truyện Nữ Cường</a></li>
                        <li style="text-align: justify;"><a href="the-loai/gia-dau">Truyện Gia Đấu</a></li>
                        <li style="text-align: justify;"><a href="the-loai/dong-phuong">Truyện Đ&ocirc;ng Phương</a>
                        </li>
                        <li style="text-align: justify;"><a href="the-loai/dam-my">Truyện Đam Mỹ</a></li>
                        <li style="text-align: justify;"><a href="the-loai/bach-hop">Truyện B&aacute;ch Hợp</a></li>
                        <li style="text-align: justify;"><a href="the-loai/hai-huoc">Truyện H&agrave;i Hước</a></li>
                        <li style="text-align: justify;"><a href="the-loai/dien-van">Truyện Điền Văn</a></li>
                        <li style="text-align: justify;"><a href="the-loai/co-dai">Truyện Cổ Đại</a></li>
                        <li style="text-align: justify;"><a href="the-loai/mat-the">Truyện Mạt Thế</a></li>
                        <li style="text-align: justify;"><a href="the-loai/truyen-teen">Truyện Truyện Teen</a></li>
                        <li style="text-align: justify;"><a href="the-loai/phuong-tay">Truyện Phương T&acirc;y</a>
                        </li>
                        <li style="text-align: justify;"><a href="the-loai/nu-phu">Truyện Nữ Phụ</a></li>
                        <li style="text-align: justify;"><a href="the-loai/light-novel">Truyện Light Novel</a></li>
                        <li style="text-align: justify;"><a href="the-loai/viet-nam">Truyện Việt Nam</a></li>
                        <li style="text-align: justify;"><a href="the-loai/doan-van">Truyện Đoản Văn</a></li>
                        <li style="text-align: justify;"><a href="the-loai/khac">Truyện Thể Loại Kh&aacute;c</a>
                        </li>
                    </ul>
                    <h3 style="text-align: justify;"><strong>Tham khảo Truyenchu.vn th&ocirc;ng qua MXH:</strong>
                    </h3>
                    <ul>
                        <li style="text-align: justify;"><a href="https://ok.ru/truyen.chu" rel="nofollow"
                                                            target="_blank">https://ok.ru/truyen.chu</a></li>
                        <li style="text-align: justify;"><a href="https://angel.co/u/truyenchu" rel="nofollow"
                                                            target="_blank">https://angel.co/u/truyenchu</a></li>
                        <li style="text-align: justify;"><a href="https://stocktwits.com/truyenchu" rel="nofollow"
                                                            target="_blank">https://stocktwits.com/truyenchu</a></li>
                        <li style="text-align: justify;"><a href="http://truyenchu.over-blog.com" rel="nofollow"
                                                            target="_blank">http://truyenchu.over-blog.com</a></li>
                        <li style="text-align: justify;"><a href="http://www.bookmark4you.com/bookmarks"
                                                            rel="nofollow" target="_blank">http://www.bookmark4you.com/bookmarks</a></li>
                        <li style="text-align: justify;"><a href="https://www.instapaper.com/p/7984459"
                                                            rel="nofollow" target="_blank">https://www.instapaper.com/p/7984459</a></li>
                        <li style="text-align: justify;"><a href="https://en.gravatar.com/truyenchuvn"
                                                            rel="nofollow" target="_blank">https://en.gravatar.com/truyenchuvn</a></li>
                        <li style="text-align: justify;"><a href="https://truyenchu.soup.io" rel="nofollow"
                                                            target="_blank">https://truyenchu.soup.io</a></li>
                        <li style="text-align: justify;"><a href="https://www.pearltrees.com/truyenchu"
                                                            rel="nofollow" target="_blank">https://www.pearltrees.com/truyenchu</a></li>
                        <li style="text-align: justify;"><a href="https://www.quora.com/profile/Chữ-Truyện"
                                                            rel="nofollow" target="_blank">https://www.quora.com/profile/Chữ-Truyện</a></li>
                        <li style="text-align: justify;"><a href="https://www.plurk.com/truyenchu" rel="nofollow"
                                                            target="_blank">https://www.plurk.com/truyenchu</a></li>
                        <li style="text-align: justify;"><a href="https://linkhay.com/u/truyenchu" rel="nofollow"
                                                            target="_blank">https://linkhay.com/u/truyenchu</a></li>
                        <li style="text-align: justify;"><a href="https://myspace.com/truyenchu" rel="nofollow"
                                                            target="_blank">https://myspace.com/truyenchu</a></li>
                        <li style="text-align: justify;"><a href="https://truyenchu.tumblr.com/" rel="nofollow"
                                                            target="_blank">https://truyenchu.tumblr.com/</a></li>
                        <li style="text-align: justify;"><a href="https://mix.com/truyenchu" rel="nofollow"
                                                            target="_blank">https://mix.com/truyenchu</a></li>
                        <li style="text-align: justify;"><a href="https://www.reddit.com/user/truyenchu/posts/"
                                                            rel="nofollow" target="_blank">https://www.reddit.com/user/truyenchu/posts/</a></li>
                        <li style="text-align: justify;"><a href="https://twitter.com/truyenchu" rel="nofollow"
                                                            target="_blank">https://twitter.com/truyenchu</a></li>
                        <li style="text-align: justify;"><a href="https://slashdot.org/~truyenchu" rel="nofollow"
                                                            target="_blank">https://slashdot.org/~truyenchu</a></li>
                        <li style="text-align: justify;"><a href="https://mewe.com/i/truyenchu.vn" rel="nofollow"
                                                            target="_blank">https://mewe.com/i/truyenchu.vn</a></li>
                        <li style="text-align: justify;"><a href="https://www.vietnamta.vn/profile-57890"
                                                            rel="nofollow" target="_blank">https://www.vietnamta.vn/profile-57890</a></li>
                        <li style="text-align: justify;"><a href="https://truyenchuvn.wordpress.com/" rel="nofollow"
                                                            target="_blank">https://truyenchuvn.wordpress.com/</a></li>
                        <li style="text-align: justify;"><a href="https://medium.com/@truyenchu" rel="nofollow"
                                                            target="_blank">https://medium.com/@truyenchu</a></li>
                        <li style="text-align: justify;"><a href="https://www.diigo.com/user/truyenchu"
                                                            rel="nofollow" target="_blank">https://www.diigo.com/user/truyenchu</a></li>
                        <li style="text-align: justify;"><a href="https://vk.com/id601471872" rel="nofollow"
                                                            target="_blank">https://vk.com/id601471872</a></li>
                        <li style="text-align: justify;"><a href="https://trello.com/truyenchu" rel="nofollow"
                                                            target="_blank">https://trello.com/truyenchu</a></li>
                        <li style="text-align: justify;"><a href="https://www.linkedin.com/in/truyenchu/"
                                                            rel="nofollow" target="_blank">https://www.linkedin.com/in/truyenchu/</a></li>
                        <li style="text-align: justify;"><a href="http://www.folkd.com/user/truyenchu"
                                                            rel="nofollow" target="_blank">http://www.folkd.com/user/truyenchu</a></li>
                        <li style="text-align: justify;"><a href="http://www.akonter.com/user/profile/truyenchu/"
                                                            rel="nofollow" target="_blank">http://www.akonter.com/user/profile/truyenchu/</a>
                        </li>
                        <li style="text-align: justify;"><a href="https://www.facebook.com/Truyenchu.vn"
                                                            rel="nofollow" target="_blank">https://www.facebook.com/Truyenchu.vn</a></li>
                        <li style="text-align: justify;"><a href="https://dribbble.com/truyenchu" rel="nofollow"
                                                            target="_blank">https://dribbble.com/truyenchu</a></li>
                        <li style="text-align: justify;"><a href="https://500px.com/truyenchu" rel="nofollow"
                                                            target="_blank">https://500px.com/truyenchu</a></li>
                        <li style="text-align: justify;"><a href="https://www.behance.net/truyenchu" rel="nofollow"
                                                            target="_blank">https://www.behance.net/truyenchu</a></li>
                        <li style="text-align: justify;"><a href="https://www.flickr.com/people/truyenchu/"
                                                            rel="nofollow" target="_blank">https://www.flickr.com/people/truyenchu/</a></li>
                        <li style="text-align: justify;"><a href="https://www.pinterest.com/truyenchu/"
                                                            rel="nofollow" target="_blank">https://www.pinterest.com/truyenchu/</a></li>
                        <li style="text-align: justify;"><a href="https://about.me/truyenchu" rel="nofollow"
                                                            target="_blank">https://about.me/truyenchu</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="cat-content"></div>
</div>
</div>
<div class="container">
    <div style="margin: 15px 0;padding:0 5px"></div>
</div>

<%-include('./../common/footer')%>
<script>const BASE_URL = '';
    const FB_APP_ID = '5170652662945892';
    const GA_ACCOUNT = '65067329-18';</script>
<script type="text/javascript" src="/frontend/js/main.min.js"></script>

</body>

</html>