<!DOCTYPE html>
<html lang="vi">

<head
        prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book# profile: http://ogp.me/ns/profile#">
    <meta charset="UTF-8" />
    <title>Giới thiệu về trang chuyện chữ</title>
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no" />
    <meta name="description"
          content="Xem truyện" />
    <meta name="keywords" content="Xem truyện" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="canonical" href="lien-he" />
    <meta property="fb:app_id" content="5170652662945892">
    <meta property="og:title" content="Xem truyện">
    <meta property="og:url" content="" />
    <meta property="og:description"
          content="Xem truyện" />
    <meta property="og:site_name" content="Đọc xem truyện Online, Mê đọc xem truyện hay">
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script type="application/ld+json">{ "@context": "http://schema.org", "@type": "WebSite", "url": "", "name": "Đọc xem truyện Online, Mê đọc xem truyện hay", "description": "Đọc xem truyện online, mê đọc xem truyện, xem truyện hay, xem truyện full. Truyện chữ Full luôn tổng hợp và cập nhật các chương truyện một cách nhanh nhất, đầy đủ nhất.", "potentialAction": { "@type": "SearchAction", "target": { "@type": "EntryPoint", "urlTemplate": "tim-kiem?tukhoa={tukhoa}" }, "query-input": { "@type": "PropertyValueSpecification", "valueRequired": "http://schema.org/True", "valueName": "tukhoa" } }
        }</script>
    <link rel="stylesheet" type="text/css" href="/frontend/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/frontend/css/main.min.css" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9443025361518917" crossorigin="anonymous"></script>
</head>

<body id="body_home" class="" itemscope itemtype="https://schema.org/WebSite">
<div id="wrap">
    <script
            type="text/javascript"> function getCookie(d) { d += "="; for (var b = decodeURIComponent(document.cookie).split(";"), c = [], a = 0; a < b.length; a++) 0 == b[a].trim().indexOf(d) && (c = b[a].trim().split("=")); return 0 < c.length ? c[1] : ""; } var js_bgcolor = getCookie("bgcolor-cookie"); "#232323" == js_bgcolor && (document.getElementsByTagName("body")[0].className += " dark-theme"); </script>
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation" id="nav">
            <%-include('./../common/navbar')%>
            <div class="navbar-breadcrumb">
                <div class="container breadcrumb-container">
                    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a href=""
                                                                                                            accesskey="1"><span class="glyphicon glyphicon-home"></span></a> <a href=""
                                                                                                                                                                                title="Đọc truyện online" itemprop="item"><span itemprop="name">Truyện</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a
                                    href="/gioi-thieu-truyenchu-vn" title="Giới thiệu về trang chủ Truyện chữ" itemprop="item"><span itemprop="name">Giới thiệu về trang chủ Truyện chữ</span></a>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </header>
    <script
            type="text/javascript">function getCookie(d) { d += "="; for (var b = decodeURIComponent(document.cookie).split(";"), c = [], a = 0; a < b.length; a++)0 == b[a].trim().indexOf(d) && (c = b[a].trim().split("=")); return 0 < c.length ? c[1] : "" } var js_bgcolor = getCookie("bgcolor-cookie"), js_font = getCookie("font-cookie"), js_size = getCookie("size-cookie"), js_lineheight = getCookie("lineheight-cookie"), js_hidenav = getCookie("hidenav-cookie"), js_fluid_switch = getCookie("fluid-switch-cookie"), js_onebreak_switch = getCookie("onebreak-switch-cookie"), js_body_insert_class = ""; "" != js_bgcolor && "#F4F4F4" != js_bgcolor && (js_bgcolor = js_bgcolor.replace("#", ""), js_body_insert_class = "232323" == js_bgcolor ? js_body_insert_class + " background-232323 dark-theme" : js_body_insert_class + (" background-" + js_bgcolor)); 1 == js_hidenav && (document.getElementById("body_chapter").className += " hidenav"); "" != js_size && (js_body_insert_class += " size-" + js_size); "" != js_font && (js_font = js_font.replace(/, serif|, sans-serif|'|\s/g, ""), js_body_insert_class += " font-" + js_font); "" != js_lineheight && "180%" != js_lineheight && (js_lineheight = js_lineheight.replace("%", ""), js_body_insert_class += " lineheight-" + js_lineheight); 1 == js_fluid_switch && (js_body_insert_class += " container-fluid-switch"); document.getElementById("body_chapter").className += js_body_insert_class;</script>
    <style type="text/css">
        #list-page .cat-content {
            text-align: left
        }

        .cat-content {
            margin: 10px 0;
            padding: 0 10px;
        }
    </style>
    <div class="container single-page">
        <div class="row">
            <div class="list list-truyen col-xs-12">
                <div class="title-list">
                    <h2>ToS</h2>
                </div>
                <div class="single-page-inner">
                    <h3 style="text-align: justify;"><strong>Privacy policy - Ch&iacute;nh s&aacute;ch bảo
                            mật</strong></h3>
                    <p style="text-align: justify;">Cũng như hầu hết c&aacute;c website kh&aacute;c, website <a
                                href="">Truyện Chữ</a>&nbsp;(&quot;Truyện Chữ&quot;) thu thập những th&ocirc;ng tin
                        kh&ocirc;ng định danh được c&aacute;c tr&igrave;nh duyệt v&agrave; m&aacute;y chủ cung cấp,
                        như loại tr&igrave;nh duyệt, ng&ocirc;n ngữ, lựa chọn của kh&aacute;ch truy cập tr&ecirc;n
                        Truyện Chữ v&agrave; thời gian kh&aacute;ch truy cập truy cập v&agrave;o Truyện Chữ. Thỉnh
                        thoảng Truyện Chữ sẽ tạo ra c&aacute;c b&aacute;o c&aacute;o c&oacute; chứa th&ocirc;ng tin
                        kh&ocirc;ng định danh của kh&aacute;ch truy cập n&oacute;i chung, v&iacute; dụ như
                        th&aacute;ng n&agrave;y kh&aacute;ch truy cập sử dụng hệ điều h&agrave;nh g&igrave;.</p>
                    <p style="text-align: justify;">Like most website operators, website Truyện Chữ (&quot;Truyện
                        Chữ&quot;) collects non-personally-identifying information of the sort that web browsers and
                        servers typically make available, such as the browser type, language preference, referring
                        site, the choice visitor made on Truyện Chữ and the date and time of each visitor request.
                        From time to time, Truyện Chữ may release non-personally-identifying information in the
                        aggregate, e.g. by publishing a report on trends in the usage of its website.</p>
                    <h3 style="text-align: justify;"><strong>External links - Link ngo&agrave;i</strong></h3>
                    <p style="text-align: justify;">Mặc d&ugrave; ch&uacute;ng t&ocirc;i lu&ocirc;n muốn sử dụng
                        những link ngo&agrave;i chất lượng, an to&agrave;n v&agrave; ph&ugrave; hợp với điều khoản
                        bảo mật của Truyện Chữ, bạn n&ecirc;n cẩn thận mỗi khi click một link ra ngo&agrave;i Truyện
                        Chữ. Ch&uacute;ng t&ocirc;i kh&ocirc;ng thể đảm bảo tất cả những link ngo&agrave;i
                        tr&ecirc;n Truyện Chữ đều an to&agrave;n d&ugrave; ch&uacute;ng t&ocirc;i lu&ocirc;n cố gắng
                        l&agrave;m điều đ&oacute;.</p>
                    <p style="text-align: justify;">Although this website only looks to include quality, safe and
                        relevant external links users should always adopt a policy of caution before clicking any
                        external web links mentioned throughout this website. The owners of this website cannot
                        guarantee or verify the contents of any externally linked website despite their best
                        efforts. Users should therefore note they click on external links at their own risk and this
                        website and it&#39;s owners cannot be held liable for any damages or implications caused by
                        visiting any external links mentioned.</p>
                    <h3 style="text-align: justify;"><strong>DMCA Compliance</strong></h3>
                    <p style="text-align: justify;">Nếu bạn c&oacute; ph&agrave;n n&agrave;n g&igrave; về nội dung
                        hoặc bất cứ vấn đề g&igrave; tại Truyện Chữ, như vấn đề bản quyền, nội dung kh&ocirc;ng được
                        cho ph&eacute;p, vui l&ograve;ng gửi email đến cho ch&uacute;ng t&ocirc;i tại địa chỉ <a
                                href="mailto:doctruyenchuhay@gmail.com" rel="nofollow">doctruyenchuhay@gmail.com</a></p>
                    <p style="text-align: justify;">We want to ensure that the content that we host can be re-used
                        by other users without fear of liability and that it is not infringing the proprietary
                        rights of others. However, we also recognize that not every takedown notice is valid or in
                        good faith. For more information on what to do if you think a DMCA notice has been
                        improperly filed, you may wish to consult the Chilling Effects website. If you are the owner
                        of content that is being improperly used without your permission, you may request that the
                        content be removed under the DMCA. To make such a request, please contact us via our email
                        address <a href="mailto:doctruyenchuhay@gmail.com"
                                   rel="nofollow">doctruyenchuhay@gmail.com</a>. Before filing a DMCA claim, you also have
                        the option of sending a notice via our email address <a
                                href="mailto:doctruyenchuhay@gmail.com" rel="nofollow">doctruyenchuhay@gmail.com</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="cat-content"></div>
</div>
</div>
<div class="container">
    <div style="margin: 15px 0;padding:0 5px"></div>
</div>

<%-include('./../common/footer')%>
<script>const BASE_URL = '';
    const FB_APP_ID = '5170652662945892';
    const GA_ACCOUNT = '65067329-18';</script>
<script type="text/javascript" src="/frontend/js/main.min.js"></script>

</body>

</html>