<%-include('../library/header.ejs')%>
<!-- Start Content-->
<div class="container-fluid">
                        
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Cài đặt</a></li>
                        <li class="breadcrumb-item active">Crawler</li>
                    </ol>
                </div>
                <h4 class="page-title">Crawler</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 


    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane show active" id="custom-styles-preview">
                                <div class="mb-3">
                                <label class="form-label" for="validationCustom01">Bật / Tắt trình Crawler</label>
                                    <div class="mb-3">
                                        <input type="checkbox" id="switch2"  <%=getCrawlerStatus.status?"checked":null%>   data-switch="primary"/>
                                        <label for="switch2" data-on-label="On" data-off-label="Off"></label>
                                    </div>	
                                </div>
                                <button class="btn btn-primary" id="submit-change">Lưu lại</button>
                        </div> <!-- end preview-->
                    
                        
                    </div> <!-- end tab-content-->

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->


        
    </div>
    <!-- end row -->

</div> <!-- container -->
<script>
    $(document).ready(function(){
        $("#submit-change").click(function(){
            $.ajax({
                method:'post',
                url:'/admin/crawler/update',
                dataType:'json',
                data:{
                    status:$('#switch2').is(':checked')
                }
            }).done(()=>{
                alert('Cập Nhật Thành Công');
            })
        })
    })
</script>
<%-include('../library/footer.ejs')%>