<!DOCTYPE html>
<html lang="vi">

<head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book# profile: http://ogp.me/ns/profile#">
    <meta charset="UTF-8" />
    <title>Đọc truyện chữ Online, Mê đọc truyện chữ hay</title>
    <meta name="viewport"
        content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no" />
    <meta name="description"
        content="Đọc truyện chữ online, mê đọc truyện chữ, truyện chữ hay, truyện chữ full. Truyện chữ Full luôn tổng hợp và cập nhật các chương truyện một cách nhanh nhất, đầy đủ nhất." />
    <meta name="keywords" content="" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta property="fb:app_id" content="245372619860792">
    <meta property="og:title" content="Đọc truyện chữ Online, Mê đọc truyện chữ hay">
    <meta property="og:url" content="" />
    <meta property="og:description"
        content="Đọc truyện chữ online, mê đọc truyện chữ, truyện chữ hay, truyện chữ full. Truyện chữ Full luôn tổng hợp và cập nhật các chương truyện một cách nhanh nhất, đầy đủ nhất." />
    <meta property="og:site_name" content="Đọc truyện chữ Online, Mê đọc truyện chữ hay">
    <meta property="og:image" content="frontend/img/logo.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script type="application/ld+json">{ "@context": "http://schema.org", "@type": "WebSite", "url": "", "name": "Đọc truyện chữ Online, Mê đọc truyện chữ hay", "description": "Đọc truyện chữ online, mê đọc truyện chữ, truyện chữ hay, truyện chữ full. Truyện chữ Full luôn tổng hợp và cập nhật các chương truyện một cách nhanh nhất, đầy đủ nhất.", "potentialAction": { "@type": "SearchAction", "target": { "@type": "EntryPoint", "urlTemplate": "tim-kiem?tukhoa={tukhoa}" }, "query-input": { "@type": "PropertyValueSpecification", "valueRequired": "http://schema.org/True", "valueName": "tukhoa" } }
}</script>
    <link rel="stylesheet" type="text/css" href="frontend/css/style.css" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2021726978792364"
        crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-65067329-18"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-65067329-18');</script>
</head>

<body id="body_home" class="">
    <div id="wrap">
        <script
            type="text/javascript"> function getCookie(d) { d += "="; for (var b = decodeURIComponent(document.cookie).split(";"), c = [], a = 0; a < b.length; a++) 0 == b[a].trim().indexOf(d) && (c = b[a].trim().split("=")); return 0 < c.length ? c[1] : ""; } var js_bgcolor = getCookie("bgcolor-cookie"); "#232323" == js_bgcolor && (document.getElementsByTagName("body")[0].className += " dark-theme"); </script>
        <header>
            <div class="navbar navbar-default navbar-static-top" role="navigation" id="nav">
                <div class="container">
                    <div class="navbar-header"> <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse"> <span class="sr-only">Hiện menu</span><span
                                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                        <h1> <a class="header-logo" href="" title="Mê đọc truyện chữ">Mê đọc truyện chữ</a> </h1>
                    </div>
                    <div class="navbar-collapse collapse" itemtype="http://www.schema.org/SiteNavigationElement"
                        itemscope>
                        <meta itemprop="url" content="" />
                        <ul class="control nav navbar-nav">
                            <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle"
                                    data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Danh sách
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" itemscope
                                    itemtype="http://www.schema.org/SiteNavigationElement">
                                    <li><a itemprop="url" href="danh-sach/dam-my-h-van" title="Đam Mỹ H Văn"><span
                                                itemprop="name">Đam Mỹ H Văn</span></a></li>
                                    <li><a itemprop="url" href="danh-sach/dam-my-hai" title="Đàm mỹ hài"><span
                                                itemprop="name">Đàm mỹ hài</span></a></li>
                                    <li><a itemprop="url" href="danh-sach/dam-my-hay" title="Đam Mỹ Hay"><span
                                                itemprop="name">Đam Mỹ Hay</span></a></li>
                                    <li><a itemprop="url" href="danh-sach/dam-my-sac" title="Đam Mỹ Sắc"><span
                                                itemprop="name">Đam Mỹ Sắc</span></a></li>
                                    <li><a itemprop="url" href="danh-sach/kiem-hiep-hay" title="Kiếm hiệp hay"><span
                                                itemprop="name">Kiếm hiệp hay</span></a></li>
                                    <li><a itemprop="url" href="danh-sach/ngon-tinh-hai" title="Ngôn Tình Hài"><span
                                                itemprop="name">Ngôn Tình Hài</span></a></li>
                                    <li><a itemprop="url" href="danh-sach/ngon-tinh-hay" title="Ngôn tình hay"><span
                                                itemprop="name">Ngôn tình hay</span></a></li>
                                    <li><a itemprop="url" href="danh-sach/ngon-tinh-nguoc" title="Ngôn Tình Ngược"><span
                                                itemprop="name">Ngôn Tình Ngược</span></a></li>
                                    <li><a itemprop="url" href="danh-sach/ngon-tinh-sac" title="Ngôn Tình Sắc"><span
                                                itemprop="name">Ngôn Tình Sắc</span></a></li>
                                    <li><a itemprop="url" href="danh-sach/ngon-tinh-sung" title="Ngôn tình Sủng"><span
                                                itemprop="name">Ngôn tình Sủng</span></a></li>
                                    <li><a itemprop="url" href="danh-sach/tien-hiep-hay" title="Tiên hiệp hay"><span
                                                itemprop="name">Tiên hiệp hay</span></a></li>
                                    <li><a itemprop="url" href="danh-sach/truyen-full" title="Truyện Full"><span
                                                itemprop="name">Truyện Full</span></a></li>
                                    <li><a itemprop="url" href="danh-sach/truyen-hot" title="Truyện Hot"><span
                                                itemprop="name">Truyện Hot</span></a></li>
                                    <li><a itemprop="url" href="danh-sach/truyen-moi" title="Truyện Mới"><span
                                                itemprop="name">Truyện Mới</span></a></li>
                                    <li><a itemprop="url" href="danh-sach/truyen-teen-hay" title="Truyện Teen Hay"><span
                                                itemprop="name">Truyện Teen Hay</span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle"
                                    data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Thể loại <span
                                        class="caret"></span></a>
                                <div class="dropdown-menu multi-column" itemscope
                                    itemtype="http://www.schema.org/SiteNavigationElement">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="dropdown-menu">
                                                <li><a itemprop="url" href="the-loai/bach-hop" title="Bách Hợp"><span
                                                            itemprop="name">Bách Hợp</span></a></li>
                                                <li><a itemprop="url" href="the-loai/co-dai" title="Cổ Đại"><span
                                                            itemprop="name">Cổ Đại</span></a></li>
                                                <li><a itemprop="url" href="the-loai/cung-dau" title="Cung Đấu"><span
                                                            itemprop="name">Cung Đấu</span></a></li>
                                                <li><a itemprop="url" href="the-loai/dam-my" title="Đam Mỹ"><span
                                                            itemprop="name">Đam Mỹ</span></a></li>
                                                <li><a itemprop="url" href="the-loai/di-gioi" title="Dị Giới"><span
                                                            itemprop="name">Dị Giới</span></a></li>
                                                <li><a itemprop="url" href="the-loai/di-nang" title="Dị Năng"><span
                                                            itemprop="name">Dị Năng</span></a></li>
                                                <li><a itemprop="url" href="the-loai/dien-van" title="Điền Văn"><span
                                                            itemprop="name">Điền Văn</span></a></li>
                                                <li><a itemprop="url" href="the-loai/do-thi" title="Đô Thị"><span
                                                            itemprop="name">Đô Thị</span></a></li>
                                                <li><a itemprop="url" href="the-loai/doan-van" title="Đoản Văn"><span
                                                            itemprop="name">Đoản Văn</span></a></li>
                                                <li><a itemprop="url" href="the-loai/dong-phuong"
                                                        title="Đông Phương"><span itemprop="name">Đông Phương</span></a>
                                                </li>
                                                <li><a itemprop="url" href="the-loai/gia-dau" title="Gia Đấu"><span
                                                            itemprop="name">Gia Đấu</span></a></li>
                                                <li><a itemprop="url" href="the-loai/hai-huoc" title="Hài Hước"><span
                                                            itemprop="name">Hài Hước</span></a></li>
                                                <li><a itemprop="url" href="the-loai/he-thong" title="Hệ Thống"><span
                                                            itemprop="name">Hệ Thống</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="dropdown-menu">
                                                <li><a itemprop="url" href="the-loai/huyen-huyen"
                                                        title="Huyền Huyễn"><span itemprop="name">Huyền Huyễn</span></a>
                                                </li>
                                                <li><a itemprop="url" href="the-loai/khac" title="Khác"><span
                                                            itemprop="name">Khác</span></a></li>
                                                <li><a itemprop="url" href="the-loai/khoa-huyen"
                                                        title="Khoa Huyễn"><span itemprop="name">Khoa Huyễn</span></a>
                                                </li>
                                                <li><a itemprop="url" href="the-loai/kiem-hiep" title="Kiếm Hiệp"><span
                                                            itemprop="name">Kiếm Hiệp</span></a></li>
                                                <li><a itemprop="url" href="the-loai/lich-su" title="Lịch Sử"><span
                                                            itemprop="name">Lịch Sử</span></a></li>
                                                <li><a itemprop="url" href="the-loai/light-novel"
                                                        title="Light Novel"><span itemprop="name">Light Novel</span></a>
                                                </li>
                                                <li><a itemprop="url" href="the-loai/linh-di" title="Linh Dị"><span
                                                            itemprop="name">Linh Dị</span></a></li>
                                                <li><a itemprop="url" href="the-loai/mat-the" title="Mạt Thế"><span
                                                            itemprop="name">Mạt Thế</span></a></li>
                                                <li><a itemprop="url" href="the-loai/ngon-tinh" title="Ngôn Tình"><span
                                                            itemprop="name">Ngôn Tình</span></a></li>
                                                <li><a itemprop="url" href="the-loai/nguoc" title="Ngược"><span
                                                            itemprop="name">Ngược</span></a></li>
                                                <li><a itemprop="url" href="the-loai/nu-cuong" title="Nữ Cường"><span
                                                            itemprop="name">Nữ Cường</span></a></li>
                                                <li><a itemprop="url" href="the-loai/nu-phu" title="Nữ Phụ"><span
                                                            itemprop="name">Nữ Phụ</span></a></li>
                                                <li><a itemprop="url" href="the-loai/phuong-tay"
                                                        title="Phương Tây"><span itemprop="name">Phương Tây</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="dropdown-menu">
                                                <li><a itemprop="url" href="the-loai/quan-su" title="Quân Sự"><span
                                                            itemprop="name">Quân Sự</span></a></li>
                                                <li><a itemprop="url" href="the-loai/quan-truong"
                                                        title="Quan Trường"><span itemprop="name">Quan Trường</span></a>
                                                </li>
                                                <li><a itemprop="url" href="the-loai/sac" title="Sắc"><span
                                                            itemprop="name">Sắc</span></a></li>
                                                <li><a itemprop="url" href="the-loai/sung" title="Sủng"><span
                                                            itemprop="name">Sủng</span></a></li>
                                                <li><a itemprop="url" href="the-loai/tham-hiem" title="Thám Hiểm"><span
                                                            itemprop="name">Thám Hiểm</span></a></li>
                                                <li><a itemprop="url" href="the-loai/tien-hiep" title="Tiên Hiệp"><span
                                                            itemprop="name">Tiên Hiệp</span></a></li>
                                                <li><a itemprop="url" href="the-loai/trinh-tham"
                                                        title="Trinh Thám"><span itemprop="name">Trinh Thám</span></a>
                                                </li>
                                                <li><a itemprop="url" href="the-loai/trong-sinh"
                                                        title="Trọng Sinh"><span itemprop="name">Trọng Sinh</span></a>
                                                </li>
                                                <li><a itemprop="url" href="the-loai/truyen-teen"
                                                        title="Truyện Teen"><span itemprop="name">Truyện Teen</span></a>
                                                </li>
                                                <li><a itemprop="url" href="the-loai/viet-nam" title="Việt Nam"><span
                                                            itemprop="name">Việt Nam</span></a></li>
                                                <li><a itemprop="url" href="the-loai/vong-du" title="Võng Du"><span
                                                            itemprop="name">Võng Du</span></a></li>
                                                <li><a itemprop="url" href="the-loai/xuyen-khong"
                                                        title="Xuyên Không"><span itemprop="name">Xuyên Không</span></a>
                                                </li>
                                                <li><a itemprop="url" href="the-loai/xuyen-nhanh"
                                                        title="Xuyên Nhanh"><span itemprop="name">Xuyên Nhanh</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle"
                                    data-toggle="dropdown" rel="nofollow"><span class="glyphicon glyphicon-cog"></span>
                                    Tùy chỉnh <span class="caret"></span></a>
                                <div class="dropdown-menu dropdown-menu-right settings">
                                    <form class="form-horizontal">
                                        <div class="form-group form-group-sm"> <label
                                                class="col-sm-2 col-md-5 control-label" for="truyen-background">Màu
                                                nền</label>
                                            <div class="col-sm-5 col-md-7"> <select class="form-control"
                                                    id="truyen-background">
                                                    <option value="#F4F4F4">Xám nhạt</option>
                                                    <option value="#E9EBEE">Xanh nhạt</option>
                                                </select> </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right" action="tim-kiem" role="search">
                            <div class="input-group search-holder"> <input aria-label="Từ khóa tìm kiếm"
                                    role="search key" class="form-control" id="search-input" type="search" name="tukhoa"
                                    placeholder="Tìm kiếm..." value="" required />
                                <div class="input-group-btn"> <button class="btn btn-default" type="submit"
                                        aria-label="Tìm kiếm" role="search"><span
                                            class="glyphicon glyphicon-search"></span></button> </div>
                            </div>
                            <div class="list-group list-search-res hide"></div>
                        </form>
                    </div>
                </div>
                <div class="navbar-breadcrumb">
                    <div class="container breadcrumb-container"> Đọc truyện online, đọc truyện chữ, truyện full, truyện
                        hay. Tổng hợp đầy đủ và cập nhật liên tục. </div>
                </div>
            </div>
        </header>
        <script
            type="text/javascript">function getCookie(d) { d += "="; for (var b = decodeURIComponent(document.cookie).split(";"), c = [], a = 0; a < b.length; a++)0 == b[a].trim().indexOf(d) && (c = b[a].trim().split("=")); return 0 < c.length ? c[1] : "" } var js_bgcolor = getCookie("bgcolor-cookie"), js_font = getCookie("font-cookie"), js_size = getCookie("size-cookie"), js_lineheight = getCookie("lineheight-cookie"), js_hidenav = getCookie("hidenav-cookie"), js_fluid_switch = getCookie("fluid-switch-cookie"), js_onebreak_switch = getCookie("onebreak-switch-cookie"), js_body_insert_class = ""; "" != js_bgcolor && "#F4F4F4" != js_bgcolor && (js_bgcolor = js_bgcolor.replace("#", ""), js_body_insert_class = "232323" == js_bgcolor ? js_body_insert_class + " background-232323 dark-theme" : js_body_insert_class + (" background-" + js_bgcolor)); 1 == js_hidenav && (document.getElementById("body_chapter").className += " hidenav"); "" != js_size && (js_body_insert_class += " size-" + js_size); "" != js_font && (js_font = js_font.replace(/, serif|, sans-serif|'|\s/g, ""), js_body_insert_class += " font-" + js_font); "" != js_lineheight && "180%" != js_lineheight && (js_lineheight = js_lineheight.replace("%", ""), js_body_insert_class += " lineheight-" + js_lineheight); 1 == js_fluid_switch && (js_body_insert_class += " container-fluid-switch"); document.getElementById("body_chapter").className += js_body_insert_class;</script>
        <style type="text/css">
            .ads-wrapper {
                max-width: 100%;
                margin: 0;
                padding: 0
            }

            .title-list.title-home {
                text-transform: uppercase;
            }

            @media screen and (min-width: 1200px) {

                .new-select,
                .filter {
                    height: 38px;
                }
            }
        </style>
        <div class="container" id="intro-index">
            <div class="title-list title-home">
                <h2><a href="danh-sach/truyen-hot" title="Truyện hot">Truyện hot</a></h2> <a href=""
                    title="Truyện hot"><span class="glyphicon glyphicon-fire"></span></a> <select id="hot-select"
                    class="form-control new-select" aria-label="Chọn thể loại">
                    <option value="all">Tất cả</option>
                    <option value="32">Bách Hợp</option>
                    <option value="35">Cổ Đại</option>
                    <option value="27">Cung Đấu</option>
                    <option value="31">Đam Mỹ</option>
                    <option value="14">Dị Giới</option>
                    <option value="15">Dị Năng</option>
                    <option value="34">Điền Văn</option>
                    <option value="8">Đô Thị</option>
                    <option value="42">Đoản Văn</option>
                    <option value="30">Đông Phương</option>
                    <option value="29">Gia Đấu</option>
                    <option value="33">Hài Hước</option>
                    <option value="12">Hệ Thống</option>
                    <option value="13">Huyền Huyễn</option>
                    <option value="43">Khác</option>
                    <option value="11">Khoa Huyễn</option>
                    <option value="2">Kiếm Hiệp</option>
                    <option value="17">Lịch Sử</option>
                    <option value="40">Light Novel</option>
                    <option value="23">Linh Dị</option>
                    <option value="36">Mạt Thế</option>
                    <option value="7">Ngôn Tình</option>
                    <option value="25">Ngược</option>
                    <option value="28">Nữ Cường</option>
                    <option value="39">Nữ Phụ</option>
                    <option value="38">Phương Tây</option>
                    <option value="16">Quân Sự</option>
                    <option value="9">Quan Trường</option>
                    <option value="24">Sắc</option>
                    <option value="26">Sủng</option>
                    <option value="22">Thám Hiểm</option>
                    <option value="1">Tiên Hiệp</option>
                    <option value="21">Trinh Thám</option>
                    <option value="20">Trọng Sinh</option>
                    <option value="37">Truyện Teen</option>
                    <option value="41">Việt Nam</option>
                    <option value="10">Võng Du</option>
                    <option value="18">Xuyên Không</option>
                    <option value="19">Xuyên Nhanh</option>
                </select>
            </div>
            <div class="index-intro">
                <div class="item top-1" itemscope itemtype="https://schema.org/Book"> <a
                        href="ta-co-9-trieu-ty-liem-cau-tien" itemprop="url"> <img
                            src="uploads/Resize/Images/265x396/ta-co-9-trieu-ty-liem-cau-tien.jpg"
                            alt="Ta Có 9 Triệu Tỷ Liếm Cẩu Tiền" class="img-responsive item-img" itemprop="image" />
                        <div class="title">
                            <h3 itemprop="name">Ta Có 9 Triệu Tỷ Liếm Cẩu Tiền</h3>
                        </div>
                    </a> </div>
                <div class="item top-2" itemscope itemtype="https://schema.org/Book"> <a
                        href="hokage-chi-sieu-than-uchiha" itemprop="url"> <span class="full-label"></span> <img
                            src="uploads/Resize/Images/164x245/hokage-chi-sieu-than-uchiha.jpg"
                            alt="Hokage Chi Siêu Thần Uchiha" class="img-responsive item-img" itemprop="image" />
                        <div class="title">
                            <h3 itemprop="name">Hokage Chi Siêu Thần Uchiha</h3>
                        </div>
                    </a> </div>
                <div class="item top-3" itemscope itemtype="https://schema.org/Book"> <a
                        href="nha-ta-su-ty-co-the-muon-giet-ta" itemprop="url"> <span class="full-label"></span> <img
                            src="uploads/Resize/Images/164x245/nha-ta-su-ty-co-the-muon-giet-ta.jpg"
                            alt="Nhà Ta Sư Tỷ Có Thể Muốn Giết Ta" class="img-responsive item-img" itemprop="image" />
                        <div class="title">
                            <h3 itemprop="name">Nhà Ta Sư Tỷ Có Thể Muốn Giết Ta</h3>
                        </div>
                    </a> </div>
                <div class="item top-4" itemscope itemtype="https://schema.org/Book"> <a
                        href="ta-nhan-vat-chinh-kim-thu-chi" itemprop="url"> <span class="full-label"></span> <img
                            src="uploads/Resize/Images/164x245/ta-nhan-vat-chinh-kim-thu-chi.jpg"
                            alt="Ta, Nhân Vật Chính Kim Thủ Chỉ" class="img-responsive item-img" itemprop="image" />
                        <div class="title">
                            <h3 itemprop="name">Ta, Nhân Vật Chính Kim Thủ Chỉ</h3>
                        </div>
                    </a> </div>
                <div class="item top-5" itemscope itemtype="https://schema.org/Book"> <a
                        href="lang-le-check-in-10000-nam-thanh-nu-cau-ta-xuat-son" itemprop="url"> <img
                            src="uploads/Resize/Images/164x245/lang-le-check-in-10000-nam-thanh-nu-cau-ta-xuat-son.jpg"
                            alt="Lặng Lẽ Check-In 10000 Năm, Thánh Nữ Cầu Ta Xuất Sơn" class="img-responsive item-img"
                            itemprop="image" />
                        <div class="title">
                            <h3 itemprop="name">Lặng Lẽ Check-In 10000 Năm, Thánh Nữ Cầu Ta Xuất Sơn</h3>
                        </div>
                    </a> </div>
                <div class="item top-6" itemscope itemtype="https://schema.org/Book"> <a
                        href="dau-la-chi-thu-do-de-lien-tro-nen-manh-me" itemprop="url"> <img
                            src="uploads/Resize/Images/164x245/dau-la-chi-thu-do-de-lien-tro-nen-manh-me.jpg"
                            alt="Đấu La Chi Thu Đồ Đệ Liền Trở Nên Mạnh Mẽ" class="img-responsive item-img"
                            itemprop="image" />
                        <div class="title">
                            <h3 itemprop="name">Đấu La Chi Thu Đồ Đệ Liền Trở Nên Mạnh Mẽ</h3>
                        </div>
                    </a> </div>
                <div class="item top-7" itemscope itemtype="https://schema.org/Book"> <a href="ngu-dao-khuynh-thien"
                        itemprop="url"> <span class="full-label"></span> <img
                            src="uploads/Resize/Images/164x245/ngu-dao-khuynh-thien.jpg" alt="Ngự Đạo Khuynh Thiên"
                            class="img-responsive item-img" itemprop="image" />
                        <div class="title">
                            <h3 itemprop="name">Ngự Đạo Khuynh Thiên</h3>
                        </div>
                    </a> </div>
                <div class="item top-8" itemscope itemtype="https://schema.org/Book"> <a
                        href="luyen-nguc-nghe-thuat-gia" itemprop="url"> <img
                            src="uploads/Resize/Images/164x245/luyen-nguc-nghe-thuat-gia.jpg"
                            alt="Luyện Ngục Nghệ Thuật Gia" class="img-responsive item-img" itemprop="image" />
                        <div class="title">
                            <h3 itemprop="name">Luyện Ngục Nghệ Thuật Gia</h3>
                        </div>
                    </a> </div>
                <div class="item top-9" itemscope itemtype="https://schema.org/Book"> <a
                        href="toan-cau-ma-vuong-bat-dau-tuyen-trach-tham-uyen-cu-long" itemprop="url"> <img
                            src="uploads/Resize/Images/164x245/toan-cau-ma-vuong-bat-dau-tuyen-trach-tham-uyen-cu-long.jpg"
                            alt="Toàn Cầu Ma Vương: Bắt Đầu Tuyển Trạch Thâm Uyên Cự Long"
                            class="img-responsive item-img" itemprop="image" />
                        <div class="title">
                            <h3 itemprop="name">Toàn Cầu Ma Vương: Bắt Đầu Tuyển Trạch Thâm Uyên Cự Long</h3>
                        </div>
                    </a> </div>
                <div class="item top-10" itemscope itemtype="https://schema.org/Book"> <a
                        href="ta-bat-dau-sang-tao-thien-co-lau" itemprop="url"> <img
                            src="uploads/Resize/Images/164x245/ta-bat-dau-sang-tao-thien-co-lau.jpg"
                            alt="Ta! Bắt Đầu Sáng Tạo Thiên Cơ Lâu!" class="img-responsive item-img" itemprop="image" />
                        <div class="title">
                            <h3 itemprop="name">Ta! Bắt Đầu Sáng Tạo Thiên Cơ Lâu!</h3>
                        </div>
                    </a> </div>
                <div class="item top-11" itemscope itemtype="https://schema.org/Book"> <a
                        href="toan-dan-linh-chu-trong-sinh-thanh-npc-ta-cu-the-vo-dich" itemprop="url"> <img
                            src="uploads/Resize/Images/164x245/toan-dan-linh-chu-trọng-sinh-thanh-npc-ta-cu-the-vo-dich.jpg"
                            alt="Toàn Dân Lĩnh Chủ: Trọng Sinh Thành NPC, Ta, Cử Thế Vô Địch!"
                            class="img-responsive item-img" itemprop="image" />
                        <div class="title">
                            <h3 itemprop="name">Toàn Dân Lĩnh Chủ: Trọng Sinh Thành NPC, Ta, Cử Thế Vô Địch!</h3>
                        </div>
                    </a> </div>
                <div class="item top-12" itemscope itemtype="https://schema.org/Book"> <a
                        href="cong-phap-cua-ta-toan-bo-nho-nhat" itemprop="url"> <img
                            src="uploads/Resize/Images/164x245/cong-phap-cua-ta-toan-bo-nho-nhat.jpg"
                            alt="Công Pháp Của Ta Toàn Bộ Nhờ Nhặt" class="img-responsive item-img" itemprop="image" />
                        <div class="title">
                            <h3 itemprop="name">Công Pháp Của Ta Toàn Bộ Nhờ Nhặt</h3>
                        </div>
                    </a> </div>
                <div class="item top-13" itemscope itemtype="https://schema.org/Book"> <a
                        href="van-toc-chien-truong-ta-co-mot-cai-vo-han-hop-thanh-lan" itemprop="url"> <img
                            src="uploads/Resize/Images/164x245/van-toc-chien-truong-ta-co-mot-cai-vo-han-hop-thanh-lan.jpg"
                            alt="Vạn Tộc Chiến Trường: Ta Có Một Cái Vô Hạn Hợp Thành Lan!"
                            class="img-responsive item-img" itemprop="image" />
                        <div class="title">
                            <h3 itemprop="name">Vạn Tộc Chiến Trường: Ta Có Một Cái Vô Hạn Hợp Thành Lan!</h3>
                        </div>
                    </a> </div>
            </div>
        </div>
        <div class="container">
            <div id="ads_home1" class="ads-wrapper"></div>
        </div>
        <div class="container" id="list-index">
            <div class="row text-center"></div>
            <div class="hide" id="history-holder"></div>
            <div class="list list-truyen list-new col-xs-12 col-sm-12 col-md-8 col-truyen-main">
                <div class="title-list title-home">
                    <h2><a href="danh-sach/truyen-moi" title="Truyện mới">Truyện mới cập nhật</a></h2> <a href=""
                        title="Truyện mới"><span class="glyphicon glyphicon-menu-right"></span></a> <select
                        id="new-select" class="form-control new-select" aria-label="Chọn thể loại">
                        <option value="all">Tất cả</option>
                        <option value="32">Bách Hợp</option>
                        <option value="35">Cổ Đại</option>
                        <option value="27">Cung Đấu</option>
                        <option value="31">Đam Mỹ</option>
                        <option value="14">Dị Giới</option>
                        <option value="15">Dị Năng</option>
                        <option value="34">Điền Văn</option>
                        <option value="8">Đô Thị</option>
                        <option value="42">Đoản Văn</option>
                        <option value="30">Đông Phương</option>
                        <option value="29">Gia Đấu</option>
                        <option value="33">Hài Hước</option>
                        <option value="12">Hệ Thống</option>
                        <option value="13">Huyền Huyễn</option>
                        <option value="43">Khác</option>
                        <option value="11">Khoa Huyễn</option>
                        <option value="2">Kiếm Hiệp</option>
                        <option value="17">Lịch Sử</option>
                        <option value="40">Light Novel</option>
                        <option value="23">Linh Dị</option>
                        <option value="36">Mạt Thế</option>
                        <option value="7">Ngôn Tình</option>
                        <option value="25">Ngược</option>
                        <option value="28">Nữ Cường</option>
                        <option value="39">Nữ Phụ</option>
                        <option value="38">Phương Tây</option>
                        <option value="16">Quân Sự</option>
                        <option value="9">Quan Trường</option>
                        <option value="24">Sắc</option>
                        <option value="26">Sủng</option>
                        <option value="22">Thám Hiểm</option>
                        <option value="1">Tiên Hiệp</option>
                        <option value="21">Trinh Thám</option>
                        <option value="20">Trọng Sinh</option>
                        <option value="37">Truyện Teen</option>
                        <option value="41">Việt Nam</option>
                        <option value="10">Võng Du</option>
                        <option value="18">Xuyên Không</option>
                        <option value="19">Xuyên Nhanh</option>
                    </select>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="lam-dinh-chi-chu" title="Lam Đình Chi Chủ" itemprop="url">Lam Đình
                                Chi Chủ</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/huyen-huyen" title="Huyền Huyễn">Huyền Huyễn</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="lam-dinh-chi-chu/chuong-58-ket-cuoc" title="Chương 58: Kết cuộc"> <span
                                class="chapter-text"><span></span>Chương 58: Kết cuộc</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="dao-si-khong-de-choc" title="Đạo Sĩ Không Dễ Chọc"
                                itemprop="url">Đạo Sĩ Không Dễ Chọc</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/tien-hiep" title="Tiên Hiệp">Tiên Hiệp</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="dao-si-khong-de-choc/chuong-814-gap-mat" title="Chương 814: Gặp mặt"> <span
                                class="chapter-text"><span></span>Chương 814: Gặp mặt</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="trieu-duong-canh-su" title="Triêu Dương Cảnh Sự"
                                itemprop="url">Triêu Dương Cảnh Sự</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/do-thi" title="Đô Thị">Đô Thị</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="trieu-duong-canh-su/chuong-818-dac-biet-le-vat-nam"
                            title="Chương 818: Đặc biệt lễ vật (năm)"> <span class="chapter-text"><span></span>Chương
                                818: Đặc biệt lễ v...</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="tao-mong-thien-su" title="Tạo Mộng Thiên Sư" itemprop="url">Tạo
                                Mộng Thiên Sư</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/huyen-huyen" title="Huyền Huyễn">Huyền Huyễn</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="tao-mong-thien-su/chuong-816-dai-ket-cuc-ha" title="Chương 816: Đại kết cục (hạ)">
                            <span class="chapter-text"><span></span>Chương 816: Đại kết cục (...</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="chu-thien-vo-dao-cuong-nhan" title="Chư Thiên Võ Đạo Cường Nhân"
                                itemprop="url">Chư Thiên Võ Đạo Cường Nhân</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/kiem-hiep" title="Kiếm Hiệp">Kiếm Hiệp</a>, <a itemprop="genre"
                            href="the-loai/huyen-huyen" title="Huyền Huyễn">Huyền Huyễn</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="chu-thien-vo-dao-cuong-nhan/chuong-818-hon-diet" title="Chương 818: Hồn diệt"> <span
                                class="chapter-text"><span></span>Chương 818: Hồn diệt</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="ta-o-the-gioi-khac-o-trong-gioi"
                                title="Ta Ở Thế Giới Khác Ở Trong Giới" itemprop="url">Ta Ở Thế Giới Khác Ở Trong
                                Giới</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/huyen-huyen" title="Huyền Huyễn">Huyền Huyễn</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="ta-o-the-gioi-khac-o-trong-gioi/chuong-820-dai-ket-cuc"
                            title="Chương 820: Đại kết cục"> <span class="chapter-text"><span></span>Chương 820: Đại kết
                                cục</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="azeroth-nguyet-da-chi-anh" title="Azeroth Nguyệt Dạ Chi Ảnh"
                                itemprop="url">Azeroth Nguyệt Dạ Chi Ảnh</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre" href="the-loai/khac"
                            title="Khác">Khác</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="azeroth-nguyet-da-chi-anh/chuong-812-tren-troi-roi-xuong-do"
                            title="Chương 812: Trên trời rơi xuống đồ"> <span class="chapter-text"><span></span>Chương
                                812: Trên trời rơi...</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="ta-tro-lai-nhan-sinh" title="Ta Trở Lại Nhân Sinh"
                                itemprop="url">Ta Trở Lại Nhân Sinh</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/do-thi" title="Đô Thị">Đô Thị</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="ta-tro-lai-nhan-sinh/chuong-805-cai-do-thanh-cong-nhat-thuong-nhan-nha-dau-tu"
                            title="Chương 805: Cái đó thành công nhất thương nhân nhà đầu tư"> <span
                                class="chapter-text"><span></span>Chương 805: Cái đó thành ...</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="vong-du-chi-ta-co-100-tuyet-doi-ty-le"
                                title="Võng Du Chi Ta Có 100% Tuyệt Đối Tỷ Lệ" itemprop="url">Võng Du Chi Ta Có 100%
                                Tuyệt Đối Tỷ Lệ</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/vong-du" title="Võng Du">Võng Du</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="vong-du-chi-ta-co-100-tuyet-doi-ty-le/chuong-802-mau-danh-han-cau-buff-keo"
                            title="Chương 802. Mau đánh hắn! (cầu buff kẹo! )"> <span
                                class="chapter-text"><span></span>Chương 802. Mau đánh hắn!...</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="hoa-ra-ta-la-chuong-giao-tong-mon-an-the"
                                title="Hóa Ra Ta Là Chưởng Giáo Tông Môn Ẩn Thế" itemprop="url">Hóa Ra Ta Là Chưởng Giáo
                                Tông Môn Ẩn Thế</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/tien-hiep" title="Tiên Hiệp">Tiên Hiệp</a>, <a itemprop="genre"
                            href="the-loai/huyen-huyen" title="Huyền Huyễn">Huyền Huyễn</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="hoa-ra-ta-la-chuong-giao-tong-mon-an-the/chuong-786-bach-nhac-trong-kich-cung-khong-co-tac-dung"
                            title="Chương 786: Bách Nhạc Trọng Kích cũng không có tác dụng"> <span
                                class="chapter-text"><span></span>Chương 786: Bách Nhạc Trọ...</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="thoi-khong-lu-xa-cua-ta" title="Thời Không Lữ Xá Của Ta"
                                itemprop="url">Thời Không Lữ Xá Của Ta</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/do-thi" title="Đô Thị">Đô Thị</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="thoi-khong-lu-xa-cua-ta/phien-ngoai" title="Phiên ngoại"> <span
                                class="chapter-text"><span></span>Phiên ngoại</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="tro-lai-2006" title="Trở Lại 2006" itemprop="url">Trở Lại 2006</a>
                        </h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/do-thi" title="Đô Thị">Đô Thị</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="tro-lai-2006/chuong-803-chuong-ket" title="Chương 803: Chương kết"> <span
                                class="chapter-text"><span></span>Chương 803: Chương kết</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="lao-ba-cua-ta-la-dai-boss" title="Lão Bà Của Ta Là Đại BOSS"
                                itemprop="url">Lão Bà Của Ta Là Đại BOSS</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/vong-du" title="Võng Du">Võng Du</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="lao-ba-cua-ta-la-dai-boss/chuong-803-hoan-tat-cam-nghi"
                            title="Chương 803: Hoàn tất cảm nghỉ"> <span class="chapter-text"><span></span>Chương 803:
                                Hoàn tất cảm ...</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="ta-that-khong-phai-la-than-con"
                                title="Ta Thật Không Phải Là Thần Côn" itemprop="url">Ta Thật Không Phải Là Thần Côn</a>
                        </h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/do-thi" title="Đô Thị">Đô Thị</a>, <a itemprop="genre"
                            href="the-loai/linh-di" title="Linh Dị">Linh Dị</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="ta-that-khong-phai-la-than-con/chuong-806-chuong-ket" title="Chương 806: Chương kết">
                            <span class="chapter-text"><span></span>Chương 806: Chương kết</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="than-cap-the-bai" title="Thần Cấp Thẻ Bài" itemprop="url">Thần Cấp
                                Thẻ Bài</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/huyen-huyen" title="Huyền Huyễn">Huyền Huyễn</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="than-cap-the-bai/chuong-784-cam-re-tinh-van-tinh-he-thu-ho"
                            title="Chương 784: Cắm rễ tinh vân tinh hệ thủ hộ"> <span
                                class="chapter-text"><span></span>Chương 784: Cắm rễ tinh v...</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="hong-hoang-chi-la-hau-van-dao"
                                title="Hồng Hoang Chi La Hầu Vấn Đạo" itemprop="url">Hồng Hoang Chi La Hầu Vấn Đạo</a>
                        </h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/tien-hiep" title="Tiên Hiệp">Tiên Hiệp</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="hong-hoang-chi-la-hau-van-dao/chuong-789-ta-than-cong-bao-that-la-kho-a"
                            title="Chương 789: Ta Thân Công Báo thật là khó a"> <span
                                class="chapter-text"><span></span>Chương 789: Ta Thân Công ...</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="hai-tac-chi-qua-thuc-vo-dich" title="Hải Tặc Chi Quả Thực Vô Địch"
                                itemprop="url">Hải Tặc Chi Quả Thực Vô Địch</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre" href="the-loai/khac"
                            title="Khác">Khác</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="hai-tac-chi-qua-thuc-vo-dich/chuong-78-nghin-nam-ma-qua-canh-con-nguoi-mat"
                            title="Chương 78: Nghìn năm mà qua cảnh còn người mất"> <span
                                class="chapter-text"><span></span>Chương 78: Nghìn năm mà q...</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="son-hai-vu-hoang-ky" title="Sơn Hải Vũ Hoàng Ký" itemprop="url">Sơn
                                Hải Vũ Hoàng Ký</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/tien-hiep" title="Tiên Hiệp">Tiên Hiệp</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="son-hai-vu-hoang-ky/chuong-765-ngoi-sao-hinh-bong"
                            title="Chương 765: Ngôi sao hình bóng"> <span class="chapter-text"><span></span>Chương 765:
                                Ngôi sao hình...</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="toan-the-ma-tu-bai-kien-to-su-gia"
                                title="Toàn Thể Ma Tu, Bái Kiến Tổ Sư Gia" itemprop="url">Toàn Thể Ma Tu, Bái Kiến Tổ Sư
                                Gia</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/huyen-huyen" title="Huyền Huyễn">Huyền Huyễn</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="toan-the-ma-tu-bai-kien-to-su-gia/chuong-784-chiu-chet-triet-de-minh-bach-canh-hai-cau-dat-mua"
                            title="Chương 784: Chịu chết, triệt để minh bạch ( canh hai, cầu đặt mua)"> <span
                                class="chapter-text"><span></span>Chương 784: Chịu chết, tr...</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="hoc-ba-cung-mo-hack" title="Học Bá Cũng Mở Hack" itemprop="url">Học
                                Bá Cũng Mở Hack</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre"
                            href="the-loai/do-thi" title="Đô Thị">Đô Thị</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="hoc-ba-cung-mo-hack/chuong-785-dai-ket-cuc" title="Chương 785:: Đại kết cục"> <span
                                class="chapter-text"><span></span>Chương 785:: Đại kết cục</span> </a> </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"> <span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="vo-hiep-chi-trong-sinh-mo-dung-phuc"
                                title="Võ Hiệp Chi Trọng Sinh Mộ Dung Phục" itemprop="url">Võ Hiệp Chi Trọng Sinh Mộ
                                Dung Phục</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888"> <a itemprop="genre" href="the-loai/khac"
                            title="Khác">Khác</a> </div>
                    <div class="col-xs-3 col-sm-3 col-md-4 col-chap text-info"> <a
                            href="vo-hiep-chi-trong-sinh-mo-dung-phuc/chuong-46-tuyen-tiet-khau"
                            title="Chương 46: Tuyên tiết khẩu"> <span class="chapter-text"><span></span>Chương 46: Tuyên
                                tiết khẩ...</span> </a> </div>
                </div>
            </div>
            <div class="visible-md-block visible-lg-block col-md-4 text-center col-truyen-side">
                <div class="hide" id="history-holder-side"></div>
                <div class="list list-truyen list-cat col-xs-12">
                    <div class="title-list title-home">
                        <h4>Thể loại truyện</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-6"><a href="the-loai/bach-hop" title="">Bách Hợp</a></div>
                        <div class="col-xs-6"><a href="the-loai/co-dai" title="">Cổ Đại</a></div>
                        <div class="col-xs-6"><a href="the-loai/cung-dau" title="">Cung Đấu</a></div>
                        <div class="col-xs-6"><a href="the-loai/dam-my" title="">Đam Mỹ</a></div>
                        <div class="col-xs-6"><a href="the-loai/di-gioi" title="">Dị Giới</a></div>
                        <div class="col-xs-6"><a href="the-loai/di-nang" title="">Dị Năng</a></div>
                        <div class="col-xs-6"><a href="the-loai/dien-van" title="">Điền Văn</a></div>
                        <div class="col-xs-6"><a href="the-loai/do-thi" title="">Đô Thị</a></div>
                        <div class="col-xs-6"><a href="the-loai/doan-van" title="">Đoản Văn</a></div>
                        <div class="col-xs-6"><a href="the-loai/dong-phuong" title="">Đông Phương</a></div>
                        <div class="col-xs-6"><a href="the-loai/gia-dau" title="">Gia Đấu</a></div>
                        <div class="col-xs-6"><a href="the-loai/hai-huoc" title="">Hài Hước</a></div>
                        <div class="col-xs-6"><a href="the-loai/he-thong" title="">Hệ Thống</a></div>
                        <div class="col-xs-6"><a href="the-loai/huyen-huyen" title="">Huyền Huyễn</a></div>
                        <div class="col-xs-6"><a href="the-loai/khac" title="">Khác</a></div>
                        <div class="col-xs-6"><a href="the-loai/khoa-huyen" title="">Khoa Huyễn</a></div>
                        <div class="col-xs-6"><a href="the-loai/kiem-hiep" title="">Kiếm Hiệp</a></div>
                        <div class="col-xs-6"><a href="the-loai/lich-su" title="">Lịch Sử</a></div>
                        <div class="col-xs-6"><a href="the-loai/light-novel" title="">Light Novel</a></div>
                        <div class="col-xs-6"><a href="the-loai/linh-di" title="">Linh Dị</a></div>
                        <div class="col-xs-6"><a href="the-loai/mat-the" title="">Mạt Thế</a></div>
                        <div class="col-xs-6"><a href="the-loai/ngon-tinh" title="">Ngôn Tình</a></div>
                        <div class="col-xs-6"><a href="the-loai/nguoc" title="">Ngược</a></div>
                        <div class="col-xs-6"><a href="the-loai/nu-cuong" title="">Nữ Cường</a></div>
                        <div class="col-xs-6"><a href="the-loai/nu-phu" title="">Nữ Phụ</a></div>
                        <div class="col-xs-6"><a href="the-loai/phuong-tay" title="">Phương Tây</a></div>
                        <div class="col-xs-6"><a href="the-loai/quan-su" title="">Quân Sự</a></div>
                        <div class="col-xs-6"><a href="the-loai/quan-truong" title="">Quan Trường</a></div>
                        <div class="col-xs-6"><a href="the-loai/sac" title="">Sắc</a></div>
                        <div class="col-xs-6"><a href="the-loai/sung" title="">Sủng</a></div>
                        <div class="col-xs-6"><a href="the-loai/tham-hiem" title="">Thám Hiểm</a></div>
                        <div class="col-xs-6"><a href="the-loai/tien-hiep" title="">Tiên Hiệp</a></div>
                        <div class="col-xs-6"><a href="the-loai/trinh-tham" title="">Trinh Thám</a></div>
                        <div class="col-xs-6"><a href="the-loai/trong-sinh" title="">Trọng Sinh</a></div>
                        <div class="col-xs-6"><a href="the-loai/truyen-teen" title="">Truyện Teen</a></div>
                        <div class="col-xs-6"><a href="the-loai/viet-nam" title="">Việt Nam</a></div>
                        <div class="col-xs-6"><a href="the-loai/vong-du" title="">Võng Du</a></div>
                        <div class="col-xs-6"><a href="the-loai/xuyen-khong" title="">Xuyên Không</a></div>
                        <div class="col-xs-6"><a href="the-loai/xuyen-nhanh" title="">Xuyên Nhanh</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="truyen-slide">
            <div id="ads_home2" class="ads-wrapper"></div>
            <div class="list list-thumbnail col-xs-12">
                <div class="title-list title-home">
                    <h2><a href="danh-sach/truyen-full" title="Truyện full">Truyện đã hoàn thành</a></h2> <a
                        href="danh-sach/truyen-full" title="Truyện full"><span
                            class="glyphicon glyphicon-menu-right"></span></a>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-2"> <a href="lam-dinh-chi-chu" title="Lam Đình Chi Chủ">
                            <div class="lazyimg" data-desk-image="uploads/Resize/Images/164x245/lam-dinh-chi-chu.jpg"
                                data-image="uploads/Resize/Images/164x245/lam-dinh-chi-chu.jpg" data-origin="jpg"
                                data-alt="Lam Đình Chi Chủ"></div>
                            <div class="caption">
                                <h3>Lam Đình Chi Chủ</h3> <small class="btn-xs label-primary">Full - 611 chương</small>
                            </div>
                        </a> </div>
                    <div class="col-xs-4 col-sm-3 col-md-2"> <a href="trieu-duong-canh-su" title="Triêu Dương Cảnh Sự">
                            <div class="lazyimg" data-desk-image="uploads/Resize/Images/164x245/trieu-duong-canh-su.jpg"
                                data-image="uploads/Resize/Images/164x245/trieu-duong-canh-su.jpg" data-origin="jpg"
                                data-alt="Triêu Dương Cảnh Sự"></div>
                            <div class="caption">
                                <h3>Triêu Dương Cảnh Sự</h3> <small class="btn-xs label-primary">Full - 816
                                    chương</small>
                            </div>
                        </a> </div>
                    <div class="col-xs-4 col-sm-3 col-md-2"> <a href="tao-mong-thien-su" title="Tạo Mộng Thiên Sư">
                            <div class="lazyimg" data-desk-image="uploads/Resize/Images/164x245/tao-mong-thien-su.jpg"
                                data-image="uploads/Resize/Images/164x245/tao-mong-thien-su.jpg" data-origin="jpg"
                                data-alt="Tạo Mộng Thiên Sư"></div>
                            <div class="caption">
                                <h3>Tạo Mộng Thiên Sư</h3> <small class="btn-xs label-primary">Full - 816 chương</small>
                            </div>
                        </a> </div>
                    <div class="col-xs-4 col-sm-3 col-md-2"> <a href="ta-o-the-gioi-khac-o-trong-gioi"
                            title="Ta Ở Thế Giới Khác Ở Trong Giới">
                            <div class="lazyimg"
                                data-desk-image="uploads/Resize/Images/164x245/ta-o-the-gioi-khac-o-trong-gioi.jpg"
                                data-image="uploads/Resize/Images/164x245/ta-o-the-gioi-khac-o-trong-gioi.jpg"
                                data-origin="jpg" data-alt="Ta Ở Thế Giới Khác Ở Trong Giới"></div>
                            <div class="caption">
                                <h3>Ta Ở Thế Giới Khác Ở Trong Giới</h3> <small class="btn-xs label-primary">Full - 817
                                    chương</small>
                            </div>
                        </a> </div>
                    <div class="col-xs-4 col-sm-3 col-md-2"> <a href="thoi-khong-lu-xa-cua-ta"
                            title="Thời Không Lữ Xá Của Ta">
                            <div class="lazyimg"
                                data-desk-image="uploads/Resize/Images/164x245/thoi-khong-lu-xa-cua-ta.jpg"
                                data-image="uploads/Resize/Images/164x245/thoi-khong-lu-xa-cua-ta.jpg" data-origin="jpg"
                                data-alt="Thời Không Lữ Xá Của Ta"></div>
                            <div class="caption">
                                <h3>Thời Không Lữ Xá Của Ta</h3> <small class="btn-xs label-primary">Full - 798
                                    chương</small>
                            </div>
                        </a> </div>
                    <div class="col-xs-4 col-sm-3 col-md-2"> <a href="tro-lai-2006" title="Trở Lại 2006">
                            <div class="lazyimg" data-desk-image="uploads/Resize/Images/164x245/tro-lai-2006.jpg"
                                data-image="uploads/Resize/Images/164x245/tro-lai-2006.jpg" data-origin="jpg"
                                data-alt="Trở Lại 2006"></div>
                            <div class="caption">
                                <h3>Trở Lại 2006</h3> <small class="btn-xs label-primary">Full - 800 chương</small>
                            </div>
                        </a> </div>
                    <div class="col-xs-4 col-sm-3 col-md-2"> <a href="lao-ba-cua-ta-la-dai-boss"
                            title="Lão Bà Của Ta Là Đại BOSS">
                            <div class="lazyimg"
                                data-desk-image="uploads/Resize/Images/164x245/lao-ba-cua-ta-la-dai-boss.jpg"
                                data-image="uploads/Resize/Images/164x245/lao-ba-cua-ta-la-dai-boss.jpg"
                                data-origin="jpg" data-alt="Lão Bà Của Ta Là Đại BOSS"></div>
                            <div class="caption">
                                <h3>Lão Bà Của Ta Là Đại BOSS</h3> <small class="btn-xs label-primary">Full - 830
                                    chương</small>
                            </div>
                        </a> </div>
                    <div class="col-xs-4 col-sm-3 col-md-2"> <a href="ta-that-khong-phai-la-than-con"
                            title="Ta Thật Không Phải Là Thần Côn">
                            <div class="lazyimg"
                                data-desk-image="uploads/Resize/Images/164x245/ta-that-khong-phai-la-than-con.jpg"
                                data-image="uploads/Resize/Images/164x245/ta-that-khong-phai-la-than-con.jpg"
                                data-origin="jpg" data-alt="Ta Thật Không Phải Là Thần Côn"></div>
                            <div class="caption">
                                <h3>Ta Thật Không Phải Là Thần Côn</h3> <small class="btn-xs label-primary">Full - 803
                                    chương</small>
                            </div>
                        </a> </div>
                    <div class="col-xs-4 col-sm-3 col-md-2"> <a href="hoc-ba-cung-mo-hack" title="Học Bá Cũng Mở Hack">
                            <div class="lazyimg" data-desk-image="uploads/Resize/Images/164x245/hoc-ba-cung-mo-hack.jpg"
                                data-image="uploads/Resize/Images/164x245/hoc-ba-cung-mo-hack.jpg" data-origin="jpg"
                                data-alt="Học Bá Cũng Mở Hack"></div>
                            <div class="caption">
                                <h3>Học Bá Cũng Mở Hack</h3> <small class="btn-xs label-primary">Full - 779
                                    chương</small>
                            </div>
                        </a> </div>
                    <div class="col-xs-4 col-sm-3 col-md-2"> <a href="hinh-canh-minh-tinh" title="Hình Cảnh Minh Tinh">
                            <div class="lazyimg" data-desk-image="uploads/Resize/Images/164x245/hinh-canh-minh-tinh.jpg"
                                data-image="uploads/Resize/Images/164x245/hinh-canh-minh-tinh.jpg" data-origin="jpg"
                                data-alt="Hình Cảnh Minh Tinh"></div>
                            <div class="caption">
                                <h3>Hình Cảnh Minh Tinh</h3> <small class="btn-xs label-primary">Full - 771
                                    chương</small>
                            </div>
                        </a> </div>
                    <div class="col-xs-4 col-sm-3 col-md-2"> <a href="mat-the-chi-card-dai-su"
                            title="Mạt Thế Chi Card Đại Sư">
                            <div class="lazyimg"
                                data-desk-image="uploads/Resize/Images/164x245/mat-the-chi-card-dai-su.jpg"
                                data-image="uploads/Resize/Images/164x245/mat-the-chi-card-dai-su.jpg" data-origin="jpg"
                                data-alt="Mạt Thế Chi Card Đại Sư"></div>
                            <div class="caption">
                                <h3>Mạt Thế Chi Card Đại Sư</h3> <small class="btn-xs label-primary">Full - 776
                                    chương</small>
                            </div>
                        </a> </div>
                    <div class="col-xs-4 col-sm-3 col-md-2"> <a href="ta-co-the-vo-han-tang-len"
                            title="Ta Có Thể Vô Hạn Tăng Lên">
                            <div class="lazyimg"
                                data-desk-image="uploads/Resize/Images/164x245/ta-co-the-vo-han-tang-len.jpg"
                                data-image="uploads/Resize/Images/164x245/ta-co-the-vo-han-tang-len.jpg"
                                data-origin="jpg" data-alt="Ta Có Thể Vô Hạn Tăng Lên"></div>
                            <div class="caption">
                                <h3>Ta Có Thể Vô Hạn Tăng Lên</h3> <small class="btn-xs label-primary">Full - 778
                                    chương</small>
                            </div>
                        </a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div style="margin: 15px 0;padding:0 5px"></div>
    </div>
    <div class="container">
        <div id="ads_footer"></div>
    </div>
    <div id="footer" class="footer">
        <div class="container">
            <div class="hidden-xs col-sm-5">
                <p style="text-align:justify"><a href=""><strong>Truyện Chữ</strong></a> - Truyện Full (<a
                        href="danh-sach/truyen-full">Truyenfull</a>) -&nbsp;<a href="">Đọc truyện chữ</a> online, <a
                        href="">m&ecirc; đọc truyện</a>&nbsp;chữ,&nbsp;truyện chữ hay. Website lu&ocirc;n cập nhật những
                    bộ&nbsp;<a href="danh-sach/truyen-moi">truyện chữ mới</a>&nbsp;thuộc c&aacute;c thể loại đặc sắc
                    như&nbsp;<a href="the-loai/tien-hiep">truyện Ti&ecirc;n Hiệp</a>,&nbsp;<a
                        href="the-loai/kiem-hiep">truyện Kiếm Hiệp</a>, hay&nbsp;<a href="the-loai/ngon-tinh">truyện
                        Ng&ocirc;n T&igrave;nh</a>&nbsp;một c&aacute;ch nhanh nhất. Hỗ trợ mọi thiết bị như di động
                    v&agrave; m&aacute;y t&iacute;nh bảng.</p>
            </div>
            <ul class="col-xs-12 col-sm-7 list-unstyled">
                <li class="text-right pull-right"> <a rel="nofollow" href="dieu-khoan-su-dung" title="ToS">ToS</a> <a
                        rel="nofollow" href="gioi-thieu-truyenchu-vn" title="Giới thiệu">Giới thiệu</a> <a
                        href="lien-he" title="Contact" rel="nofollow">Liên hệ</a> <a class="backtop"
                        title="Trở lên đầu trang" href="#wrap" rel="nofollow" aria-label="Trở về đầu trang"><span
                            class="glyphicon glyphicon-upload"></span></a> </li>
                <li class="hidden-xs tag-list"> <a href="danh-sach/dam-my-hai">đam mỹ h&agrave;i</a> <a
                        href="the-loai/xuyen-nhanh">truyện xuy&ecirc;n nhanh</a> <a
                        href="danh-sach/ngon-tinh-sung">ng&ocirc;n t&igrave;nh sủng</a> <a
                        href="danh-sach/ngon-tinh-hai">ng&ocirc;n t&igrave;nh h&agrave;i</a> <a
                        href="danh-sach/truyen-teen-hay">truyện teen hay</a> <a
                        href="danh-sach/ngon-tinh-hay">ng&ocirc;n t&igrave;nh hay</a> <a href="the-loai/dam-my">truyện
                        đam mỹ</a> <a href="the-loai/ngon-tinh/hoan">truyện ng&ocirc;n t&igrave;nh</a> <a
                        href="the-loai/ngon-tinh/hoan">ng&ocirc;n t&igrave;nh ho&agrave;n</a> <a
                        href="danh-sach/ngon-tinh-nguoc">ng&ocirc;n t&igrave;nh ngược</a> <a
                        href="danh-sach/kiem-hiep-hay">truyện kiếm hiệp hay</a> <a href="danh-sach/tien-hiep-hay">truyện
                        ti&ecirc;n hiệp hay</a> <a href="the-loai/he-thong">truyện hệ thống</a> </li>
            </ul>
        </div>
    </div>
    <script>const BASE_URL = '';
        const FB_APP_ID = '245372619860792';
        const GA_ACCOUNT = '65067329-18';</script>
    <script type="text/javascript" src="frontend/js/main.min.js"></script>
    <script>var element = document.createElement("link");
        element.setAttribute("rel", "stylesheet");
        element.setAttribute("type", "text/css");
        element.setAttribute("href", "frontend/css/main.min.css");
        document.getElementsByTagName("head")[0].appendChild(element); </script>
    <script type="text/javascript">var externalScript = document.createElement("script");
        externalScript.type = "text/javascript";
        externalScript.setAttribute('async', 'async');
        externalScript.src = "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2021726978792364";
        document.getElementsByTagName('body')[0].appendChild(externalScript);</script>
    <script>window.addEventListener('load', function () {
            var ins_ads_home1 = document.createElement("ins");
            ins_ads_home1.setAttribute('class', 'adsbygoogle');
            ins_ads_home1.setAttribute('style', 'display:block;');
            ins_ads_home1.setAttribute('data-ad-client', 'ca-pub-2021726978792364');
            ins_ads_home1.setAttribute('data-ad-slot', '2234882932');
            ins_ads_home1.setAttribute('data-ad-format', 'auto');
            ins_ads_home1.setAttribute('data-full-width-responsive', 'true');
            document.getElementById('ads_home1').appendChild(ins_ads_home1);
            var inlineScript_ads_home1 = document.createElement("script");
            inlineScript_ads_home1.type = "text/javascript";
            inlineScript_ads_home1.text = '(adsbygoogle = window.adsbygoogle || []).push({});'
            document.getElementById('ads_home1').appendChild(inlineScript_ads_home1);
            var ins_ads_home2 = document.createElement("ins");
            ins_ads_home2.setAttribute('class', 'adsbygoogle');
            ins_ads_home2.setAttribute('style', 'display:block;');
            ins_ads_home2.setAttribute('data-ad-client', 'ca-pub-2021726978792364');
            ins_ads_home2.setAttribute('data-ad-slot', '2234882932');
            ins_ads_home2.setAttribute('data-ad-format', 'auto');
            ins_ads_home2.setAttribute('data-full-width-responsive', 'true');
            document.getElementById('ads_home2').appendChild(ins_ads_home2);
            var inlineScript_ads_home2 = document.createElement("script");
            inlineScript_ads_home2.type = "text/javascript";
            inlineScript_ads_home2.text = '(adsbygoogle = window.adsbygoogle || []).push({});'
            document.getElementById('ads_home2').appendChild(inlineScript_ads_home2);
            var ins_ads_footer = document.createElement("ins");
            ins_ads_footer.setAttribute('class', 'adsbygoogle');
            ins_ads_footer.setAttribute('style', 'display:block;');
            ins_ads_footer.setAttribute('data-ad-client', 'ca-pub-2021726978792364');
            ins_ads_footer.setAttribute('data-ad-slot', '2234882932');
            ins_ads_footer.setAttribute('data-ad-format', 'auto');
            ins_ads_footer.setAttribute('data-full-width-responsive', 'true');
            document.getElementById('ads_footer').appendChild(ins_ads_footer);
            var inlineScript_ads_footer = document.createElement("script");
            inlineScript_ads_footer.type = "text/javascript";
            inlineScript_ads_footer.text = '(adsbygoogle = window.adsbygoogle || []).push({});'
            document.getElementById('ads_footer').appendChild(inlineScript_ads_footer);
        });</script>
</body>

</html>